<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reminder {{TemporaryApplicationNumber}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="" />
        <p><b>Dear&nbsp;{{borrowerName}},</b></p>
        <p>Thank you for the opportunity for us to be help you get a new home loan.  This is just a friendly reminder.</p>
        <p>Click <a href="{{borrowerLoginURL}}">“Continue”</a>  to start where you last left off.</p>
        <p>If you have any questions or would like to speak with any one home loan specialist, please call {{tenantConfiguration.templateVariables.customerServiceNumber}}</p>
        <p>Sincerely,</p>
        {{#if-is-not-null-or-non-empty loanOfficerName }}
        <p>{{loanOfficerName}}</p>
        <ul>
            <li>NMLS # : {{loanOfficerNMLS}}</li>
            <li>Phone # : {{loanOfficerPhoneNumber}}</li>
        </ul>
        {{else}}
        <ul>
            <li>{{tenantConfiguration.templateVariables.customerServiceNumber}}</li>
            <li><a href="mailto:{{tenantConfiguration.templateVariables.customerServiceEmail}}">{{tenantConfiguration.templateVariables.customerServiceEmailText}}</a></li>
            <li><a href="http://{{tenantConfiguration.templateVariables.websiteUrl}}">{{tenantConfiguration.templateVariables.websiteText}}</a></li>
        </ul>
        {{/if-is-not-null-or-non-empty}}
  </body>
</html>