<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Collaborate to Docitt loan process</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="" />
        <p><b>Dear&nbsp;{{BorrowerFirstName}},</b></p>
        <p>Thank you for the opportunity for us to be help you get a new home loan.  We see you haven’t completed your application yet.  This is just a friendly reminder.</p>
        <p>Click <a href="{{BorrowerPortalUrl}}">“Continue”</a>  to start where you last left off.</p>
        <p>If you have any questions or would like to speak with any one home loan specialist, please call {{tenantConfiguration.templateVariables.customerServiceNumber}}</p>
        <p>Sincerely,</p>                                                  
        {{#if-is-not-null-or-non-empty IsLoanOfficer }}
            {{#if-is-not-null-or-non-empty LoanOfficerName }}
            <p>{{LoanOfficerName}}</p>
            <ul>
                <li>NMLS # : {{LoanOfficerNMLS}}</li>
                <li>Phone # : {{LoanOfficerPhoneNumber}}</li>
            </ul>
            {{/if-is-not-null-or-non-empty}}
        {{/if-is-not-null-or-non-empty}}
        {{#if-is-not-null-or-non-empty IsAffinityUser }}
            {{#if-is-not-null-or-non-empty LoanOfficerName }}
            <p>{{LoanOfficerName}}</p>
            <ul>
                <li>Email #: {{InitiatedByEmail}}</li>
                <li>Phone # : {{InitiatedByPhoneNumber}}</li>
            </ul>
            {{/if-is-not-null-or-non-empty}}
        {{/if-is-not-null-or-non-empty}}
  </body>
</html>