<div class="container">

    <h5><a href="/">Home</a></h5>
    <center>
        <H1>{{title}}</H1>
    </center>

    {{#if data.isSuccess}}
    {{else}}
    <div class="alert alert-danger" role="alert">
        {{data.errors.message}}
    </div>
    {{/if}}

    {{#if data.errors.failedConfigurations}}
    <div class="alert alert-warning" role="alert">
        <ul>
            {{#each data.errors.failedConfigurations}}
            <li>{{this.key}} - {{this.message}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    <ul>
        <li>CHANGES</li>
        <ol>
            {{#each data.changes}}
            <li><a href='#modification-{{this.key}}'>{{this.key}}</a></li>
            {{/each}}
        </ol>
        <li>NOT ON SERVER</li>
        <ol>
            {{#each data.newFiles}}
            <li><a href='#newFiles-{{this.key}}'>{{this.key}}</a></li>
            {{/each}}
        </ol>
        <li>NOT ON LOCAL</li>
        <ol>
            {{#each data.extraFiles}}
            <li><a href='#extraFiles-{{this.key}}'>{{this.key}}</a></li>
            {{/each}}
        </ol>
    </ul>

    <h3>CHANGES</h1>
        {{#each data.changes}}
        <h4><a name='modification-{{this.key}}'>{{this.key}}</a></h4>
        <div style="width: 100%;">
            <pre class="prettyprint"><code>
{{#if this.isJSONDiff}}
{{{this.value}}}
{{else}}
{{#each this.value}}
{{#if this.added}}{{#ifNotEmpty this.value}}<span style='background-color: #90EE90'>{{this.value}}</span>{{/ifNotEmpty}}{{else if this.removed}}<span style='background-color: #FFA07A'>{{this.value}}</span>{{else}}{{this.value}}{{/if}}
{{/each}}
{{/if}}</pre>
            </code></pre>
        </div>
        {{/each}}
        <H1>NOT ON SERVER</H1>
        {{#each data.newFiles}}
        <h4><a name='newFiles-{{this.key}}'>{{this.key}}</a></h4>
        <div style="width: 100%;">
            <pre class="prettyprint"><code>{{this.value}}</code></pre>
        </div>
        {{/each}}
        <H1>NOT ON LOCAL</H1>
        {{#each data.extraFiles}}
        <h4><a name='extraFiles-{{this.key}}'>{{this.key}}</a></h4>
        <div style="width: 100%;">
            <pre class="prettyprint"><code>{{this.value}}</code></pre>
        </div>
        {{/each}}
</div>