<div class="container-fluid">
    <center>
        <h1>Artifacts : {{data.name}}</h1>
    </center>
    {{!-- <div class="card">
        <div class="card-header container-fluid">
            <span>Configuration</span>
            <div class=" float-right">
                <button type="button" data-bind="click: $root.getAllDetails.bind($data,$data,'configuration')" class="btn btn-primary btn-sm"> <span
                        class="fa fa-refresh fa-sm" aria-hidden="true"></span>
                    Compare (All Tenants)</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3" data-bind='foreach: tenants'>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header container-fluid">
                            <span data-bind="text: id"></span>
                            <div class=" float-right">
                                <button type="button" data-bind="click: $parent.getDetails.bind($data,$data,'configuration')"
                                    class="btn btn-primary btn-sm"> <span class="fa fa-refresh fa-sm"
                                        aria-hidden="true"></span>
                                    Compare</button>
                            </div>
                        </div>
                        <div data-bind="visible:configuration.errors().length">
                            <div class="alert alert-danger" role="alert">
                                <ul data-bind="foreach: configuration.errors">
                                    <li>
                                        <span data-bind="text: $data"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div data-bind="visible:configuration.failedConfigurations().length">
                            <div class="alert alert-warning" role="alert">
                                <ul data-bind="foreach: configuration.failedConfigurations">
                                    <li>
                                        <span data-bind="text: $data"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body" data-bind="visible:configuration.changes().length">
                            <h5 class="card-title">Changes</h5>
                            <ul data-bind="foreach: configuration.changes">
                                <li>
                                    <a href="#" data-bind="click: $root.showModal"><span
                                            data-bind="text: key"></span></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body" data-bind="visible:configuration.newFiles().length">
                            <h5 class="card-title">New Configuration</h5>
                            <ul data-bind="foreach: configuration.newFiles">
                                <li>
                                    <a href="#" data-bind="click: $root.showModal"><span
                                            data-bind="text: key"></span></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body" data-bind="visible:configuration.extraFiles().length">
                            <h5 class="card-title">New On Server</h5>
                            <ul data-bind="foreach: configuration.extraFiles">
                                <li>
                                    <a href="#" data-bind="click: $root.showModal"><span
                                            data-bind="text: key"></span></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer" data-bind="visible:configuration.isSynced()">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Publish changes/new configuration">Sync</button>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete might be unused configuration from server">Delete
                                extra server</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" data-bind="visible:configurationIsAllSynced()">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
                title="Publish changes/new configuration (All Tenants)">Sync (All Tenants)</button>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
                title="Delete might be unused configuration from server (All Tenants)">Delete
                extra from server (All Tenants)</button>
        </div>
    </div> --}}
    <div>
        {{> detail detailTitle='Configuration' detailId='configuration' }}
    </div>
    <div>
        {{> detail detailTitle='Rule' detailId='rule' }}
    </div>
    <div>
        {{> detail detailTitle='Template' detailId='template' }}
    </div>
    <div>
        {{> detail detailTitle='Lookup' detailId='lookup' }}
    </div>
    <div>
        {{> detail detailTitle='Outbound Webhook' detailId='outboundWebhook' }}
    </div>
    <div>
        {{> detail detailTitle='Inbound Webhook' detailId='inboundWebhook' }}
    </div>

    <div>
        <div class="card">
            <div class="card-header container-fluid">
                <span>Theme</span>
            </div>
            <div class="card-body">
                {{> detail detailTitle='Theme CSS' detailId='themeCSS' }}
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-header container-fluid">
                                Google Fonts
                            </div>
                            <div class="card-body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col"><button type="button" data-bind="click: syncAllGoogleFonts"
                                                    class="btn btn-primary btn-sm"> <span class="fa fa-refresh fa-sm"
                                                        aria-hidden="true"></span>
                                                    Sync (All Tenants)</button></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind='foreach: tenants'>
                                        <tr>
                                            <th scope="row"> <span data-bind="text: id"></span>
                                            </th>
                                            <td><button type="button" data-bind="click: $parent.syncGoogleFonts"
                                                    class="btn btn-primary btn-sm">
                                                    <span class="fa fa-refresh fa-sm" aria-hidden="true"
                                                        data-bind="hidden:googleFont.isProgress"></span>
                                                    <div class="spinner-border spinner-border-sm" role="status"
                                                        data-bind="visible:googleFont.isProgress">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                    Sync
                                                </button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {{> detail detailTitle='Questionnaire' detailId='questionnaire' }}
    </div>

    <div class="modal fade bd-example-modal-lg" id="diffModal" tabindex="-1" role="dialog"
        aria-labelledby="diffModalModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="diffModalModalLabel">Changes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="width: 100%;">
                        <pre class="prettyprint" id="diffCodePr"><code id="diffCode"></code></pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">




</script>