<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <style>
        .blue {
            color: #0095d0;
        }
    </style>
</head>
<body>
    <div>
        <div class="blue">
            <h1>Consolidated disclosure document</h1>
        </div>
        <div class='hideOnPortal'>
            <p>Signed By: {{SignedBy}}</p>
            <p>IP address: {{IPAddress}}</p>
            <p>WebsiteUrl: {{WebsiteUrl}}</p>
            <p>Date Time: {{DateTime}}</p>
        </div><br><br>
        @@##ElectronicSignature##HTML##@@
        <div class="blue" style="page-break-before: always;">&nbsp;</div>
        @@##ElectronicConsentAgreement##HTML##@@
        <div class="blue" style="page-break-before: always;">&nbsp;</div>
        @@##PrivacyPolicy##HTML##@@
        <div class="blue" style="page-break-before: always;">&nbsp;</div>
        @@##TermsofService##HTML##@@
    </div>
</body>

</html>