<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Collaborate to Docitt loan process</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>      
        <p><b>Hi&nbsp;{{borrowerName}},</b></p>
        <p>Congratulations! You have successfully completed your Mortgage Loan Application.</p>
        <p>Thank You for having given us the opportunity to help and serve you on your mortgage requirements. We will keep you apprised on the progress of your file and you are welcome to log in at any time to check your status of your application and attend to any conditions that needs further actions at your end.</p>
        <p><a style="background: #006699;border:1px solid #333;border-radius:5px;color: #fff;display:inline-block;font-size:16px;font-weight:700;padding:5px 20px;text-decoration:none;text-transform:uppercase;" href="{{borrowerLoginURL}}">LOG IN</a></p>  
        {{#if-is-not-null-or-non-empty AffinityPartnerName }}
        <p>If you have any questions, I’m here to help.</p>

        <p>Sincerely,</p>
        <p>{{AffinityPartnerName}}</p>
        <ul>
            <li>Email #: {{AffinityPartnerEmail}}</li>
            <li>Phone # : {{AffinityPartnerPhoneNumber}}</li>
        </ul>
        {{else}}
        {{#if-is-not-null-or-non-empty loanOfficerName }}
        <p>If you have any questions, I’m here to help.</p>

        <p>Sincerely,</p>
        <p>{{loanOfficerName}}</p>
        <ul>
            <li>NMLS # : {{loanOfficerNMLS}}</li>
            <li>Phone # : {{loanOfficerPhoneNumber}}</li>
        </ul>
        {{/if-is-not-null-or-non-empty}}
        {{/if-is-not-null-or-non-empty}}
        
    </body>
</html>