<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Collaborate to Docitt loan process</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>                
        <p>
            The {{BorrowerLastName}}, {{BorrowerFirstName}} has accepted the invitation. 
            You may track the application# {{ApplicationNumber}} on your pipeline. 
        </p>
        
    </body>
</html>