<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Collaborate to Docitt loan process</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>        
        <p><b>Hi {{loanOfficerName}},</b></p>
        <p>Congratulations! You received a new loan application. </p>
        <p><a style="background: #006699;border:1px solid #333;border-radius:5px;color: #fff;display:inline-block;font-size:16px;font-weight:700;padding:5px 20px;text-decoration:none;text-transform:uppercase;" href="{{loanOfficerLoginURL}}">LOG IN</a></p>                        
        <p>Sincerely,</p>
        <p>{{tenantConfiguration.templateVariables.supportTeam}}</p>
        <ul>
            <li>{{tenantConfiguration.templateVariables.customerServiceNumber}}</li>
            <li><a href="mailto:{{tenantConfiguration.templateVariables.customerServiceEmail}}">{{tenantConfiguration.templateVariables.customerServiceEmailText}}</a></li>
            <li><a href="http://{{tenantConfiguration.templateVariables.websiteUrl}}">{{tenantConfiguration.templateVariables.websiteText}}</a></li>
        </ul>
    </body>
</html>