<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Verify your account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="" />
        <p><b>Dear&nbsp;{{ Name }}</b></p>
        <p> The link below will assist you for account verification.</p>
        <p><a href="{{ accountVerificationUrl }}">Verify your account.</a></p>
        <p>Sincerely,</p>
        <p>{{tenantConfiguration.templateVariables.supportTeam}}</p>
        <ul>
            <li>{{tenantConfiguration.templateVariables.customerServiceNumber}}</li>
            <li><a href="mailto:{{tenantConfiguration.templateVariables.customerServiceEmail}}">{{tenantConfiguration.templateVariables.customerServiceEmailText}}</a></li>
            <li><a href="http://{{tenantConfiguration.templateVariables.websiteUrl}}">{{tenantConfiguration.templateVariables.websiteText}}</a></li>
        </ul>
    </body>
</html>