﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bank details</title>
    <meta charset="UTF-8">
    <meta name="viewport"content="width =device-width, initial-scale=1">
</head>
<body>
    {{#each accounts}}<ul> <li><b>InstitutionName</b>&nbsp;:&nbsp;{{institutionName}}</li><li><b>OwnerName</b>&nbsp;:&nbsp;{{ownerName}}</li><li><b>AccountType</b>&nbsp;:&nbsp;{{type}}-{{subType}}</li><li><b>AccountNo</b>&nbsp;:&nbsp;{{accountNo}}</li><li><b>AvailableBalance</b>&nbsp;:&nbsp;{{availableBalance}}</li><li><b>CurrentBalance</b>&nbsp;:&nbsp;{{CurrentBalance}}</li></ul>{{/each}}
</body>
</html>