<div class="card">
    <div class="card-header container-fluid">
        <span>{{detailTitle}}</span>
        <div class=" float-right">
            <button type="button" data-bind="click: $root.getAllDetails.bind($data,$data,'{{detailId}}')"
                class="btn btn-primary btn-sm"> <span class="fa fa-refresh fa-sm" aria-hidden="true"></span>
                Compare (All Tenants)</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-3" data-bind='foreach: tenants'>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header container-fluid">
                        <span data-bind="text: id"></span>
                        <div class=" float-right">
                            <button type="button" data-bind="click: $parent.getDetails.bind($data,$data,'{{detailId}}')"
                                class="btn btn-primary btn-sm">
                                <div class="spinner-border spinner-border-sm" role="status"
                                    data-bind="visible:{{detailId}}.isProgress">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Compare
                            </button>
                        </div>
                    </div>
                    <div data-bind="visible:{{detailId}}.errors().length">
                        <div class="alert alert-danger" role="alert">
                            <ul data-bind="foreach: {{detailId}}.errors">
                                <li>
                                    <span data-bind="text: $data"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-bind="visible:{{detailId}}.failedConfigurations().length">
                        <div class="alert alert-warning" role="alert">
                            <ul data-bind="foreach: {{detailId}}.failedConfigurations">
                                <li>
                                    <span data-bind="text: $data"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body" data-bind="visible:{{detailId}}.changes().length">
                        <h5 class="card-title">Changes</h5>
                        <ul data-bind="foreach: {{detailId}}.changes">
                            <li>
                                <a href="#" data-bind="click: $root.showModal"><span
                                        data-bind="text: key"></span></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" data-bind="visible:{{detailId}}.newFiles().length">
                        <h5 class="card-title">New</h5>
                        <ul data-bind="foreach: {{detailId}}.newFiles">
                            <li>
                                <a href="#" data-bind="click: $root.showModal"><span
                                        data-bind="text: key"></span></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" data-bind="visible:{{detailId}}.extraFiles().length">
                        <h5 class="card-title">New On Server</h5>
                        <ul data-bind="foreach: {{detailId}}.extraFiles">
                            <li>
                                <a href="#" data-bind="click: $root.showModal"><span
                                        data-bind="text: key"></span></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer" data-bind="visible:{{detailId}}.isSynced()">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
                            title="Publish changes/new"
                            data-bind="click: $root.publishChanges.bind($data,$data,'{{detailId}}')">
                            <div class="spinner-border spinner-border-sm" role="status"
                                data-bind="visible:{{detailId}}.isChangeProgress">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <span class="fa fa-exclamation-triangle fa-sm" style="color: red;"  aria-hidden="true"
                                data-bind="visible:{{detailId}}.isError"></span>
                            Sync
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
                            title="Delete might be unused from server">Delete
                            extra server</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer" data-bind="visible:changes.{{detailId}}IsAllSynced()">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
            title="Publish changes/new (All Tenants)">Sync (All Tenants)</button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"
            title="Delete might be unused from server (All Tenants)">Delete
            extra from server (All Tenants)</button>
    </div>
</div>
</br>