<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{tenantConfiguration.templateVariables.tenantTitleText}} | Data from the Source</title>
    <style>
        .termsofuse {
            padding: 30px 0;
        }

        .termsofuse h1 {
            color: #5aaebb;
            font-size: 36px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 20px;
        }

        .termsofuse h3 {
            color: #5aaebb;
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 20px;
        }

        .termsofuse h5 {
            color: #43607a;
            font-size: 20px;
            font-style: italic;
            margin: 0;
            margin-bottom: 20px;
        }

        .termsofuse h6 {
            color: #43607a;
            font-size: 14px;
            margin: 0;
            margin-bottom: 20px;
        }

        .termsofuse p {
            color: #43607a;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
            margin: 0;
            margin-bottom: 30px;
        }

        .termsofuse strong {
            color: #43607a;
            font-size: 18px;
            font-weight: 500;
        }

        .termsofuse a {
            color: #5aaebb;
            font-size: 18px;
        }

        .termsofuse ul {
            display: block;
            width: 100%;
            margin-left: 30px;
        }

        .termsofuse ol {
            display: block;
            width: 100%;
        }

        .termsofuse ul li {
            list-style: disc;
        }

        .termsofuse li {
            margin: 0;
            margin-bottom: 20px;
            color: #43607a;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
        }

        .termsofuse ol li {
            list-style: decimal;
        }

        .termsofuse address {
            font-size: 14px;
            line-height: 28px;
        }
    </style>

</head>
<body>
    <div class="termsofuse clearfix">
        <h1>Terms of Use</h1>
        <h5>Effective date: October 1, 2019</h5>
        <p><strong>PLEASE NOTE THAT YOUR USE OF AND ACCESS TO OUR SERVICES (DEFINED BELOW) ARE SUBJECT TO THE FOLLOWING
                TERMS; IF YOU DO NOT AGREE TO ALL OF THE FOLLOWING, YOU MAY NOT USE OR ACCESS THE SERVICES IN ANY
                MANNER.</strong></p>
        <p>Thank you for selecting the Services offered by <strong>{{tenantConfiguration.templateVariables.tenantTitleText}}, </strong>. Please read on to learn the
            rules and restrictions that govern your use of our website(s), products, services and applications (the
            “Services”). If you have any questions, comments, or concerns regarding these terms or the Services, please
            contact us at {{tenantConfiguration.templateVariables.privacySupportEmailText}}.</p>
        <p>These Terms of Use (the “Terms”) are a binding contract between you and {{tenantConfiguration.templateVariables.tenantTitleText}}, Inc. (“{{tenantConfiguration.templateVariables.tenantTitleText}},” “we” and
            “us”). You must agree to and accept all of the Terms, or you don’t have the right to use the Services. Your
            using the Services in any way means that you agree to all of these Terms, and these Terms will remain in
            effect while you use the Services. These Terms include the provisions in this document, as well as those in
            the <a href="#">Privacy Policy</a>.</p>

        <h3>Will these Terms ever change?</h3>
        <p>We are constantly trying to improve our Services, so these Terms may need to change along with the Services.
            We reserve the right to change the Terms at any time, but if we do, we will bring it to your attention by
            placing a notice on {{tenantConfiguration.templateVariables.tenantTitleText}}.com website, by sending you an email, and/or by some other means.</p>
        <p>If you don’t agree with the new Terms, you are free to reject them; unfortunately, that means you will no
            longer be able to use the Services. If you use the Services in any way after a change to the Terms is
            effective, that means you agree to all of the changes.</p>
        <p>Except for changes by us as described here, no other amendment or modification of these Terms will be
            effective unless in writing and signed by both you and us.</p>

        <h3>What about my privacy?</h3>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} takes the privacy of its users very seriously. For the current {{tenantConfiguration.templateVariables.tenantTitleText}} Privacy Policy, please click <a
                href="#">here</a>.</p>
        <p>The Children’s Online Privacy Protection Act (“COPPA”) requires that online service providers obtain parental
            consent before they knowingly collect personally identifiable information online from children who are under
            13. We do not knowingly collect or solicit personally identifiable information from children under 13; if
            you are a child under 13, please do not attempt to register for the Services or send any personal
            information about yourself to us. If we learn we have collected personal information from a child under 13,
            we will delete that information as quickly as possible. If you believe that a child under 13 may have
            provided us personal information, please contact us at <a
                href="mailto:{{tenantConfiguration.templateVariables.privacySupportEmail}}">{{tenantConfiguration.templateVariables.privacySupportEmailText}}</a>.</p>
        <h3>What are required to use the {{tenantConfiguration.templateVariables.tenantTitleText}} service?</h3>
        <p>You may be required to sign up for an account, and select a password and user name (“{{tenantConfiguration.templateVariables.tenantTitleText}} User ID”). You
            promise to provide us with accurate, complete, and updated registration information about yourself. You may
            not select as your {{tenantConfiguration.templateVariables.tenantTitleText}} User ID a name that you don’t have the right to use, or another person’s name with
            the intent to impersonate that person. You may not transfer your account to anyone else without our prior
            written permission.</p>
        <p>You represent and warrant that you are of legal age to form a binding contract (or if not, you’ve received
            your parent’s or guardian’s permission to use the Services and gotten your parent or guardian to agree to
            these Terms on your behalf). If you’re agreeing to these Terms on behalf of an organization or entity, you
            represent and warrant that you are authorized to agree to these Terms on that organization or entity’s
            behalf and bind them to these Terms (in which case, the references to “you” and “your” in these Terms,
            except for in this sentence, refer to that organization or entity).</p>
        <p>You will only use the Services for your own internal, personal, non-commercial use, and not on behalf of or
            for the benefit of any third party, and only in a manner that complies with all laws that apply to you. If
            your use of the Services is prohibited by applicable laws, then you aren’t authorized to use the Services.
            We can’t and won’t be responsible for your using the Services in a way that breaks the law.</p>
        <p>By submitting information, data, passwords, usernames, PINs, other log-in information, materials and other
            content to {{tenantConfiguration.templateVariables.tenantTitleText}} through the Services (“Account Information”), you are licensing that content to {{tenantConfiguration.templateVariables.tenantTitleText}} for
            the purpose of providing the Services. {{tenantConfiguration.templateVariables.tenantTitleText}} may use and store the content in accordance with this
            Agreement and our Privacy Policy. You represent that you are entitled to submit it to {{tenantConfiguration.templateVariables.tenantTitleText}} for use for
            this purpose, without any obligation by {{tenantConfiguration.templateVariables.tenantTitleText}} to pay any fees or be subject to any restrictions or
            limitations. By using the Services, you expressly authorize {{tenantConfiguration.templateVariables.tenantTitleText}} to access your Account Information
            maintained by identified third parties, on your behalf as your agent. {{tenantConfiguration.templateVariables.tenantTitleText}} will submit information
            including usernames and passwords that you provide to log into the Site. You hereby authorize and permit
            {{tenantConfiguration.templateVariables.tenantTitleText}} to use and store information submitted by you to accomplish the foregoing and to configure the
            Services so that it is compatible with the third party sites for which you submit your information. For
            purposes of this Agreement and solely to provide the Account Information to you as part of the Service, you
            grant {{tenantConfiguration.templateVariables.tenantTitleText}} a limited power of attorney, and appoint {{tenantConfiguration.templateVariables.tenantTitleText}} as your attorney-in-fact and agent, to access
            third party sites, retrieve and use your information with the full power and authority to do and perform
            each thing necessary in connection with such activities, as you could do in person. YOU ACKNOWLEDGE AND
            AGREE THAT WHEN {{tenantConfiguration.templateVariables.tenantTitleText}} IS ACCESSING AND RETRIEVING ACCOUNT INFORMATION FROM THIRD PARTY SITES, {{tenantConfiguration.templateVariables.tenantTitleText}} IS
            ACTING AS YOUR AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF THE THIRD PARTY THAT OPERATES THE THIRD PARTY
            SITE. You are responsible for the accuracy and completeness of any Account Information provided to {{tenantConfiguration.templateVariables.tenantTitleText}}
            and {{tenantConfiguration.templateVariables.tenantTitleText}} shall not be liable in the event that such Account Information is not accurate or complete. You
            will not share your account or password with anyone, and you must protect the security of your account and
            your password. You’re responsible for any activity associated with your account.</p>
        <p>USE WITH YOUR MOBILE DEVICE.</p>
        <p>Use of these Services may be available through a compatible mobile device, Internet access and may require
            software. You agree that you are solely responsible for theses requirements, including any applicable
            changes, updates and fees as well as the term of your agreement with your mobile device and
            telecommunications provider.</p>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} MAKES NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED AS TO:</p>
        <ul>
            <li>THE AVAILABILITY OF TELECOMMUNICATION SERVICES FROM YOUR PROVIDER AND ACCESS TO THE SERVICES AT ANY TIME
                OR FROM ANY LOCATION;</li>
            <li>ANY LOSS, DAMAGE, OR OTHER SECURITY INTRUSION OF THE TELECOMMUNICATION SERVICES; AND</li>
            <li>ANY DISCLOSURE OF INFORMATION TO THIRD PARTIES OR FAILURE TO TRANSMIT ANY DATA, COMMUNICATIONS OR
                SETTINGS CONNECTED WITH THE SERVICES.</li>
        </ul>

        <h3>Your use of the Services is subject to the following additional restrictions:</h3>
        <p>You represent, warrant, and agree that you will not contribute any Content or User Submission (each of those
            terms is defined below) or otherwise use the Services or interact with the Services in a manner that:</p>
        <ol>
            <li>Infringes or violates the intellectual property rights or any other rights of anyone else (including
                {{tenantConfiguration.templateVariables.tenantTitleText}});</li>
            <li>Violates any law or regulation;</li>
            <li>Is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, or otherwise
                objectionable;</li>
            <li>Jeopardizes the security of your {{tenantConfiguration.templateVariables.tenantTitleText}} account or anyone else’s (such as allowing someone else to log
                in to the Services as you);</li>
            <li>Attempts, in any manner, to obtain the password, account, or other security information from any other
                user;</li>
            <li>Violates the security of any computer network, or cracks any passwords or security encryption codes;
            </li>
            <li>Runs Maillist, Listserv, any form of auto-responder or “spam” on the Services, or any processes that run
                or are activated while you are not logged into the Services, or that otherwise interfere with the proper
                working of the Services (including by placing an unreasonable load on the Services’ infrastructure);
            </li>
            <li>“Crawls,” “scrapes,” or “spiders” any page, data, or portion of or relating to the Services or Content
                (through use of manual or automated means);</li>
            <li>Copies or stores any significant portion of the Content;</li>
            <li>Decompiles, reverse engineers, or otherwise attempts to obtain the source code or underlying ideas or
                information of or relating to the Services.</li>
        </ol>
        <p>A violation of any of the foregoing is grounds for termination of your right to use or access the Services.
        </p>

        <h3>What are my rights in {{tenantConfiguration.templateVariables.tenantTitleText}} Consumer Products?</h3>
        <p>The materials displayed or performed or available on or through the Services, including, but not limited to,
            text, graphics, data, articles, photos, images, illustrations, User Submissions, and so forth (all of the
            foregoing, the “Content”) are protected by copyright and/or other intellectual property laws. You promise to
            abide by all copyright notices, trademark rules, information, and restrictions contained in any Content you
            access through the Services, and you won’t use, copy, reproduce, modify, translate, publish, broadcast,
            transmit, distribute, perform, upload, display, license, sell or otherwise exploit for any purpose any
            Content not owned by you, (i) without the prior consent of the owner of that Content or (ii) in a way that
            violates someone else’s (including {{tenantConfiguration.templateVariables.tenantTitleText}}) rights.</p>
        <p>You understand that {{tenantConfiguration.templateVariables.tenantTitleText}} owns the Services. You won’t modify, publish, transmit, participate in the
            transfer or sale of, reproduce (except as expressly provided in this Section), creative derivative works
            based on, or otherwise exploit any of the Services.</p>
        <p>The Services may allow you to copy or download certain Content; please remember that just because this
            functionality exists, doesn’t mean that all the restrictions above don’t apply – they do!</p>

        <h3>Do I have to grant any licenses to {{tenantConfiguration.templateVariables.tenantTitleText}} or to other users?</h3>
        <p>Anything you upload, share, store, or otherwise provide through the Services is your “User Submission.” In
            order to display your User Submissions on the Services, and to allow other users to enjoy them (where
            applicable), you grant us certain rights in those User Submissions. Please note that all of the following
            licenses are subject to our <a href="#">Privacy Policy</a> to the extent they relate to User Submissions
            that are also your personally-identifiable information. For all User Submissions, you hereby grant {{tenantConfiguration.templateVariables.tenantTitleText}} a
            license to translate, modify (for technical purposes, for example making sure your content is viewable on an
            iPhone as well as a computer) and reproduce and otherwise act with respect to such User Submissions, in each
            case to enable us to operate the Services, as described in more detail below. This is a license only – your
            ownership in User Submissions is not affected.</p>
        <p>If you store a User Submission in your own personal {{tenantConfiguration.templateVariables.tenantTitleText}} account, in a manner that is not viewable by any
            other user except you (a “Personal User Submission”), you grant {{tenantConfiguration.templateVariables.tenantTitleText}} the license above, as well as a
            license to display, perform, and distribute your Personal User Submission for the sole purpose of making
            that Personal User Submission accessible to you and providing the Services necessary to do so.</p>
        <p>If you share a User Submission only in a manner that only certain specified users can view (for example, a
            private message to one or more other individuals who are involved with your application or use of the
            Services)(a “Limited Audience User Submission”), then you grant {{tenantConfiguration.templateVariables.tenantTitleText}} the licenses above, as well as a
            license to display, perform, and distribute your Limited Audience User Submission for the sole purpose of
            making that Limited Audience User Submission accessible to such other specified users, and providing the
            Services necessary to do so. Also, you grant such other specified users a license to access that Limited
            Audience User Submission, and to use and exercise all rights in it, as permitted by the functionality of the
            Services.</p>
        <p>If you share a User Submission publicly on the Services and/or in a manner that more than just you or certain
            specified users can view, or if you provide us (in a direct email or otherwise) with any feedback,
            suggestions, improvements, enhancements, and/or feature requests relating to the Services (each of the
            foregoing, a “Public User Submission”), then you grant {{tenantConfiguration.templateVariables.tenantTitleText}} the licenses above, as well as a license to
            display, perform, and distribute your Public User Submission for the purpose of making that Public User
            Submission accessible to all {{tenantConfiguration.templateVariables.tenantTitleText}} users and providing the Services necessary to do so, as well as all
            other rights necessary to use and exercise all rights in that Public User Submission in connection with the
            Services and/or otherwise in connection with {{tenantConfiguration.templateVariables.tenantTitleText}} business for any purpose, provided that {{tenantConfiguration.templateVariables.tenantTitleText}} will
            try to notify you if it uses your Public User Submission for any reason other than displaying it on the
            Services. Also, you grant all other users of the Services a license to access that Public User Submission,
            and to use and exercise all rights in it, as permitted by the functionality of the Services.</p>
        <p>You agree that the licenses you grant are royalty-free, perpetual, sublicenseable, irrevocable, and
            worldwide, provided that when you delete your {{tenantConfiguration.templateVariables.tenantTitleText}} account, we will stop displaying your User Submissions
            (other than Public User Submissions, which may remain fully available) to other users (if applicable), but
            you understand and agree that it may not be possible to completely delete that content from {{tenantConfiguration.templateVariables.tenantTitleText}}
            records, and that your User Submissions may remain viewable elsewhere to the extent that they were copied or
            stored by other users.</p>
        <p>Finally, you understand and agree that {{tenantConfiguration.templateVariables.tenantTitleText}}, in performing the required technical steps to provide the
            Services to our users (including you), may need to make changes to your User Submissions to conform and
            adapt those User Submissions to the technical requirements of connection networks, devices, services, or
            media, and the foregoing licenses include the rights to do so.</p>

        <h3>Who is responsible for what I see and do on the Services?</h3>
        <p>Any information or content publicly posted or privately transmitted through the Services is the sole
            responsibility of the person from whom such content originated, and you access all such information and
            content at your own risk, and we aren’t liable for any errors or omissions in that information or content or
            for any damages or loss you might suffer in connection with it. We cannot control and have no duty to take
            any action regarding how you may interpret and use the Content or what actions you may take as a result of
            having been exposed to the Content, and you hereby release us from all liability for you having acquired or
            not acquired Content through the Services. We can’t guarantee the identity of any users with whom you
            interact in using the Services and are not responsible for which users gain access to the Services.</p>
        <p>You are responsible for all Content you contribute, in any manner, to the Services, and you represent and
            warrant you have all rights necessary to do so, in the manner in which you contribute it. You will keep all
            your registration information accurate and current. You are responsible for all your activity in connection
            with the Services.</p>
        <p>The Services may contain links or connections to third party websites or services that are not owned or
            controlled by {{tenantConfiguration.templateVariables.tenantTitleText}}. When you access third party websites or use third party services, you accept that
            there are risks in doing so, and that {{tenantConfiguration.templateVariables.tenantTitleText}} is not responsible for such risks. We encourage you to be aware
            when you leave the Services and to read the terms and conditions and privacy policy of each third party
            website or service that you visit or utilize. For example, if you link your third party accounts (bank
            account, tax information, etc.) to {{tenantConfiguration.templateVariables.tenantTitleText}} Consumer Products, what information we collect will be governed by
            the terms and privacy policies of those third parties. By linking those accounts to your {{tenantConfiguration.templateVariables.tenantTitleText}} Consumer
            Products account, you are granting {{tenantConfiguration.templateVariables.tenantTitleText}} the right to collect the information provided by such third part
            websites or services.</p>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, or
            practices of or opinions expressed in any third party websites or by any third party that you interact with
            through the Services. In addition, {{tenantConfiguration.templateVariables.tenantTitleText}} will not and cannot monitor, verify, censor or edit the content of
            any third party site or service. By using the Services, you release and hold us harmless from any and all
            liability arising from your use of any third party website or service.</p>
        <p>Your interactions with organizations and/or individuals found on or through the Services, including payment
            and delivery of goods or services, and any other terms, conditions, warranties or representations associated
            with such dealings, are solely between you and such organizations and/or individuals. You should make
            whatever investigation you feel necessary or appropriate before proceeding with any online or offline
            transaction with any of these third parties. You agree that {{tenantConfiguration.templateVariables.tenantTitleText}} shall not be responsible or liable for
            any loss or damage of any sort incurred as the result of any such dealings.</p>
        <p>If there is a dispute between participants on this site, or between users and any third party, you agree that
            {{tenantConfiguration.templateVariables.tenantTitleText}} is under no obligation to become involved. In the event that you have a dispute with one or more
            other users, you release {{tenantConfiguration.templateVariables.tenantTitleText}}, its officers, employees, agents, and successors from claims, demands, and
            damages of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed,
            arising out of or in any way related to such disputes and/or our Services. If you are a California resident,
            you shall and hereby do waive California Civil Code Section 1542, which says: “A general release does not
            extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing
            the release, which, if known by him must have materially affected his settlement with the debtor.”</p>

        <h3>Will {{tenantConfiguration.templateVariables.tenantTitleText}} ever change the Services?</h3>
        <p>We’re always trying to improve the Services, so they may change over time. We may suspend or discontinue any
            part of the Services, or we may introduce new features or impose limits on certain features or restrict
            access to parts or all of the Services. We’ll try to give you notice when we make a material change to the
            Services that would adversely affect you, but this isn’t always practical. Similarly, we reserve the right
            to remove any Content from the Services at any time, for any reason (including, but not limited to, if
            someone alleges you contributed that Content in violation of these Terms), in our sole discretion, and
            without notice.</p>

        <h3>Does {{tenantConfiguration.templateVariables.tenantTitleText}} Consumer Products cost anything?</h3>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} Services are currently free, but we reserve the right to charge for certain or all Services in the
            future. We will notify you before any Services you are currently using begin carrying a fee, and if you wish
            to continue using such Services, you must pay all applicable fees for such Services.</p>
        <p>There are certain functionalities of the Services that do carry a fee; such as requesting a credit report or
            appraisal (“Fees”). You will be advised the amount of such Fees prior to being charged the Fees. All Fees
            are non-refundable and payable in advance of {{tenantConfiguration.templateVariables.tenantTitleText}} performing any of the Fee bearing Services.</p>

        <h3>What if I want to stop using {{tenantConfiguration.templateVariables.tenantTitleText}} Consumer Products?</h3>
        <p>You’re free to do that at any time, by contacting us at <a
                href="mailto:{{tenantConfiguration.templateVariables.privacySupportEmail}}">{{tenantConfiguration.templateVariables.privacySupportEmailText}}</a>. Please refer to our <a href="#">Privacy
                Policy</a>, as well as the licenses above, to understand how we treat information you provide to us
            after you have stopped using our Services.</p>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} is also free to terminate (or suspend access to) your use of the Services or your account, for any
            reason in our discretion, including your breach of these Terms. {{tenantConfiguration.templateVariables.tenantTitleText}} has the sole right to decide whether
            you are in violation of any of the restrictions set forth in these Terms.</p>
        <p>Account termination may result in destruction of any Content associated with your account, so keep that in
            mind before you decide to terminate your account. If you have deleted your account by mistake, contact us
            immediately at <a href="mailto:{{tenantConfiguration.templateVariables.privacySupportEmail}}">{{tenantConfiguration.templateVariables.privacySupportEmailText}}</a> – we will try to help, but
            unfortunately, we can’t promise that we can recover or restore anything.</p>
        <p>In addition to your rights to stop using the Services, {{tenantConfiguration.templateVariables.tenantTitleText}} has a standard data retention and destruction
            policy that can be found at <a href="#">here</a>. This policy provides details regarding when {{tenantConfiguration.templateVariables.tenantTitleText}} may
            suspend your access to the Services and when it deletes the information you provide to {{tenantConfiguration.templateVariables.tenantTitleText}}.</p>
        <p>Provisions that, by their nature, should survive termination of these Terms shall survive termination. By way
            of example, all of the following will survive termination: any obligation you have to pay us or indemnify
            us, any limitations on our liability, any terms regarding ownership or intellectual property rights, and
            terms regarding disputes between us.</p>

        <h3>What else do I need to know?</h3>
        <h6>WARRANTY DISCLAIMER</h6>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} does not make any representations or warranties concerning any content contained in or accessed
            through the Services, and we will not be responsible or liable for the accuracy, copyright compliance,
            legality, or decency of material contained in or accessed through the Services. We make no representations
            or warranties regarding suggestions or recommendations of services or products offered or purchased through
            the Services. Products and services purchased or offered (whether or not following such recommendations and
            suggestions) through the Services are provided “AS IS” and without any warranty of any kind from {{tenantConfiguration.templateVariables.tenantTitleText}} or
            others (unless, with respect to such others only, provided expressly and unambiguously in writing by a
            designated third party for a specific product). THE SERVICES AND CONTENT ARE PROVIDED ON AN “AS-IS” BASIS,
            WITHOUT WARRANTIES OR ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES
            OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL BE
            UNINTERRUPTED OR ERROR-FREE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO
            THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
        <h6>LIMITATION OF LIABILITY</h6>
        <p>TO THE FULLEST EXTENT ALLOWED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (INCLUDING,
            WITHOUT LIMITATION, TORT, CONTRACT, STRICT LIABILITY, OR OTHERWISE) SHALL {{tenantConfiguration.templateVariables.tenantTitleText}} BE LIABLE TO YOU OR TO ANY
            OTHER PERSON FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, INCLUDING
            DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR
            MALFUNCTION, OR (B) ANY AMOUNT, IN THE AGGREGATE, IN EXCESS OF THE GREATER OF (I) $100 OR (II) THE AMOUNTS
            PAID BY YOU TO {{tenantConfiguration.templateVariables.tenantTitleText}} IN CONNECTION WITH THE SERVICES IN THE TWELVE (12) MONTH PERIOD PRECEDING THIS
            APPLICABLE CLAIM, OR (III) ANY MATTER BEYOND OUR REASONABLE CONTROL. SOME STATES DO NOT ALLOW THE EXCLUSION
            OR LIMITATION OF CERTAIN DAMAGES, SO THE ABOVE LIMITATION AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
        <h6>INDEMNITY</h6>
        <p>To the fullest extent allowed by applicable law, You agree to indemnify and hold {{tenantConfiguration.templateVariables.tenantTitleText}}, its affiliates,
            officers, agents, employees, and partners harmless from and against any and all claims, liabilities, damages
            (actual and consequential), losses and expenses (including attorneys’ fees) arising from or in any way
            related to any third party claims relating to (a) your use of the Services (including any actions taken by a
            third party using your account), and (b) your violation of these Terms. In the event of such a claim, suit,
            or action (“Claim”), we will attempt to provide notice of the Claim to the contact information we have for
            your account (provided that failure to deliver such notice shall not eliminate or reduce your
            indemnification obligations hereunder.</p>
        <h6>ASSIGNMENT</h6>
        <p>You may not assign, delegate or transfer these Terms or your rights or obligations hereunder, or your
            Services account, in any way (by operation of law or otherwise) without {{tenantConfiguration.templateVariables.tenantTitleText}} prior written consent. We
            may transfer, assign, or delegate these Terms and our rights and obligations without consent.</p>
        <h6>CHOICE OF LAW; ARBITRATION</h6>
        <p>These Terms are governed by and will be construed under the laws of the State of California, without regard
            to the conflicts of laws provisions thereof. Any dispute arising from or relating to the subject matter of
            these Terms shall be finally settled in Orange County, California, in English, in accordance with the
            Streamlined Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. (“JAMS”)
            then in effect, by one commercial arbitrator with substantial experience in resolving intellectual property
            and commercial contract disputes, who shall be selected from the appropriate list of JAMS arbitrators in
            accordance with such Rules. Judgment upon the award rendered by such arbitrator may be entered in any court
            of competent jurisdiction. Notwithstanding the foregoing obligation to arbitrate disputes, each party shall
            have the right to pursue injunctive or other equitable relief at any time, from any court of competent
            jurisdiction. For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in
            the state or federal courts located in, respectively, Orange County, California, or the Central District of
            California.</p>
        <h6>MISCELLANEOUS</h6>
        <p>You will be responsible for paying, withholding, filing, and reporting all taxes, duties, and other
            governmental assessments associated with your activity in connection with the Services, provided that {{tenantConfiguration.templateVariables.tenantTitleText}}
            may, in its sole discretion, do any of the foregoing on your behalf or for itself as it sees fit. The
            failure of either you or us to exercise, in any way, any right herein shall not be deemed a waiver of any
            further rights hereunder. If any provision of these Terms is found to be unenforceable or invalid, that
            provision will be limited or eliminated, to the minimum extent necessary, so that these Terms shall
            otherwise remain in full force and effect and enforceable. You and {{tenantConfiguration.templateVariables.tenantTitleText}} agree that these Terms are the
            complete and exclusive statement of the mutual understanding between you and {{tenantConfiguration.templateVariables.tenantTitleText}}, and that it supersedes
            and cancels all previous written and oral agreements, communications and other understandings relating to
            the subject matter of these Terms, and that all modifications to these Terms must be in a writing signed by
            both parties (except as otherwise provided herein). No agency, partnership, joint venture, or employment is
            created as a result of these Terms and you do not have any authority of any kind to bind {{tenantConfiguration.templateVariables.tenantTitleText}} in any
            respect whatsoever. Except as expressly set forth in the section above regarding the Apple Application, you
            and {{tenantConfiguration.templateVariables.tenantTitleText}} agree there are no third party beneficiaries intended under these Terms.</p>
    </div>
</body>
</html>