<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Docitt Required condition</title>
            <meta charset="UTF-8">
            <meta name="viewport"content="width=device-width, initial-scale=1">
        </head>
            <body style="text-align:justify;">
                <table width ="100%">
                    <tr>
                        <td width="20%"><strong>Condition</strong></td>
                        <td><strong>:</strong></td>
                        <td><strong>{{conditionName}}
                            {{#if-is-not-null-or-non-empty ownerOfCondition }}
                            - {{ownerOfCondition}}
                            {{/if-is-not-null-or-non-empty}}
                        </strong></td>
                    </tr>
                    <tr>
                        <td  width="20%"><strong>Loan ID</strong></td>
                        <td><strong>:</strong></td>
                        <td><strong>{{loanId}}</strong></td>
                    </tr>
                    <tr>
                        <td  width="20%"><strong>Responded By</strong></td>
                        <td><strong>:</strong></td>
                        <td><strong>{{respondedBy}}</strong></td>
                    </tr>
                    <tr>
                        <td  width="20%"><strong>IP Address</strong></td>
                        <td><strong>:</strong></td>
                        <td><strong>{{IPAddress}}</strong></td>
                    </tr>
                    <tr>
                        <td  width="20%"><strong> Date</strong></td>
                        <td><strong> :</strong></td>
                        <td><strong> {{date}}</strong></td>
                    </tr>
                    <tr>
                        <td>
                           <br/>
                           <br/>
                           <br/>
                           <br/>
                        </td>
                    </tr>
                   
                </table>     
                
                <p> 
                            {{{ data }}}
                   </p>
            </body>
            </html>