<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your password has been reset successfully!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p><b>Dear&nbsp;{{ Name }}</b></p>
        <p>Your {{tenant_title_text}} password was changed on {{ ResetDate }}.</p>
        <p>If you did this, you can safely disregard this email.</p>
		<p>If you didn't do this, please  <a href="{{ ResetUrl }}">reset your password</a>.</p>
        <p>Sincerely,</p>
        <p>{{tenantConfiguration.templateVariables.supportTeam}}</p>
        <ul>
            <li>{{tenantConfiguration.templateVariables.customerServiceNumber}}</li>
            <li><a href="mailto:{{tenantConfiguration.templateVariables.customerServiceEmail}}">{{tenantConfiguration.templateVariables.customerServiceEmailText}}</a></li>
            <li><a href="http://{{tenantConfiguration.templateVariables.websiteUrl}}">{{tenantConfiguration.templateVariables.websiteText}}</a></li>
        </ul>
    </body>
</html>
