<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{tenantConfiguration.templateVariables.tenantTitleText}} | ELECTRONIC CONSENT AGREEMENT</title>
    <style>
        .privacypolicy {
            padding: 30px 0
        }

        .privacypolicy h1 {
            color: #5aaebb;
            font-size: 36px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 20px
        }

        .privacypolicy h3 {
            color: #5aaebb;
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 20px
        }

        .privacypolicy h5 {
            color: #43607a;
            font-size: 20px;
            font-style: italic;
            margin: 0;
            margin-bottom: 20px
        }

        .privacypolicy h6 {
            color: #43607a;
            font-size: 14px;
            margin: 0;
            margin-bottom: 20px
        }

        .privacypolicy p {
            color: #43607a;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
            margin: 0;
            margin-bottom: 30px
        }

        .privacypolicy strong {
            color: #43607a;
            font-size: 18px;
            font-weight: 500
        }

        .privacypolicy a {
            color: #5aaebb;
            font-size: 18px
        }

        .privacypolicy ul {
            display: block;
            width: 100%;
            margin-left: 30px
        }

        .privacypolicy ol {
            display: block;
            width: 100%
        }

        .privacypolicy ul li {
            list-style: disc
        }

        .privacypolicy li {
            margin: 0;
            margin-bottom: 20px;
            color: #43607a;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300
        }

        .privacypolicy ol li {
            list-style: decimal
        }

        .privacypolicy address {
            font-size: 14px;
            line-height: 28px
        }
    </style>
</head>

<body>
    <div class='privacypolicy clearfix'>
        <h3>ELECTRONIC CONSENT AGREEMENT</h3>
        <p>Please read the following important information. By signing this Agreement, you are agreeing that you have
            reviewed this Electronic Consent Agreement and consent to transaction business using electronic
            communications, to receive notices and disclosures electronically, and to utilize electronic signatures
            instead of using paper documents.</p>
        <p>The loan for which you are applying involves various disclosures, records, and documents (&quot;Loan
            Documents&quot;), including this Electronic Consent Agreement. The purpose of this Electronic Consent
            Agreement is to obtain Your consent to receive certain Loan Documents from Us in electronic form rather than
            in paper form. With Your consent, You will also be able to sign and authorize these Loan Documents
            electronically, rather than on paper.</p>
        <p>Before We can engage in this transaction electronically, it is important that You understand Your rights and
            responsibilities. Please read the following and affirm Your consent to conduct business with Us
            electronically. For purposes of this Electronic Consent Agreement, &quot;eDisclosures&quot; means the Loan
            Documents related to this transaction that are provided electronically, &quot;You&quot; and &quot;Your&quot;
            mean the borrower(s) under the applicable loan to which such Loan Documents apply, and &quot;We&quot;,
            &quot;Our&quot; and &quot;Us&quot; mean the applicable mortgage broker(s), loan processor(s) or mortgage
            banker(s) with whom You are transacting business for such loan(s).</p>
        <h5>YOUR CONSENT</h5>
        <ul>
            <li>Your consent to participate in this transaction electronically will apply to all Loan Documents for the
                applicable loans for which You are applying. If You provide Your consent by clicking the &quot;I
                agree&quot; button at the bottom of the page, We will conduct this transaction electronically, instead
                of providing You with the Loan Documents in paper form.</li>
            <li>If a document related to Your loan is not available in electronic form, a paper copy will be provided to
                You free of charge.</li>
            <li>Conducting this transaction electronically is an option. If You choose not to accept receipt of
                eDisclosures, paper Loan Documents will be mailed to You.</li>
            <li>If You do not consent to receive these Loan Documents electronically, You will be provided with copies
                of the Loan Documents in paper form. Additionally:</li>
            <li>You will not be required to pay a fee for receiving paper copies of the Loan Documents.</li>
        </ul>
        <h5>WITHDRAWAL OF CONSENT</h5>
        <ul>
            <li>If You originally consent to receive eDisclosures, but later withdraw Your consent, You will not be
                required to pay a fee for withdrawing consent and receiving paper copies of the Loan Documents.</li>
            <li>You have the right to withdraw Your consent at any time. By declining or revoking Your consent to
                receive eDisclosures, We will provide You with the Loan Documents in paper form.</li>
            <li>If You originally consent to receive eDisclosures, but later decide to withdraw Your consent, You can do
                so by notifying Us at {{tenantConfiguration.templateVariables.customerServiceNumber}} or by written letter addressed to Customer Service Department,
                {{tenantConfiguration.templateVariables.tenantTitleText}}, {{tenantConfiguration.templateVariables.tenantStreetAddress}}, {{tenantConfiguration.templateVariables.tenantCityStateZip}}.</li>
        </ul>
        <h5>OBTAINING PAPER COPIES</h5>
        <ul>
            <li>After Your consent is given, You may request from Us paper copies of Your Loan Documents. Please send
                this request to Us at {{tenantConfiguration.templateVariables.customerServiceNumber}}  or Customer Service Department, {{tenantConfiguration.templateVariables.tenantTitleText}}, {{tenantConfiguration.templateVariables.tenantStreetAddress}} , {{tenantConfiguration.templateVariables.tenantCityStateZip}}.</li>
            <li>If You request paper copies of the Loan Documents You will not be required to pay a fee for receiving
                paper copies of the Loan Documents.</li>
        </ul>
        <h5>SYSTEM REQUIREMENTS</h5>
        <ul>
            <li>In order to receive eDisclosures, You must have a computer with Internet access and an Internet email
                account and address; an Internet browser using 128-bit encryption or higher, Adobe Acrobat 7.0 or
                higher, SSL encryption and access to a printer or the ability to download information in order to keep
                copies of Your eDisclosures for Your records.</li>
            <li>If the software or hardware requirements change in the future, and You are unable to continue receiving
                eDisclosures, paper copies of such Loan Documents will be mailed to You once You notify Us that You are
                no longer able to access the eDisclosures because of the changed requirements. We will use commercially
                reasonable efforts to notify You before such requirements change. If You choose to withdraw Your consent
                upon notification of the change, You will be able to do so without penalty.</li>
        </ul>
        <h5>HOW WE CAN REACH YOU</h5>
        <ul>
            <li>You must promptly notify Us if there is a change in Your email address or in other information needed to
                contact You electronically. You can contact Us at {{tenantConfiguration.templateVariables.customerServiceNumber}} or by sending a letter to Us addressed to
                Customer Service Department, {{tenantConfiguration.templateVariables.tenantTitleText}}, {{tenantConfiguration.templateVariables.tenantStreetAddress}}, {{tenantConfiguration.templateVariables.tenantCityStateZip}}.</li>
            <li>We will not assume liability for non-receipt of notification of the availability of eDisclosures in the
                event Your email address on file is invalid; Your email or Internet service provider filters the
                notification as &quot;spam&quot; or &quot;junk mail&quot;; there is a malfunction in Your computer,
                browser, Internet service and/or software; or for other reasons beyond Our control.</li>
        </ul>
    </div>
</body>

</html>