

<html>
<!DOCTYPE html><html lang="en"><head><title>Credit Communication consent</title>
<meta charset="UTF-8"><meta name="viewport"content="width=device-width, initial-scale=1"></head>
<body style="text-align:justify;">
	<p> Full Name : {{fullName}} </p>
    <p> Application Reference # : {{ applicationNumber }} </P>
	<p> Date of Birth : {{dateOfBirth}} </p>
	<p> Social Security Number : {{ssn}} </p>
	<p> Phone Number : {{phoneNumber}} </p>
    <p>By submitting your contact information you agree to our Terms of use and our security and privacy policy.you 
		also expressly consent to having us,our family of companies and potentially our mortgage partners contact you about your inquiry by text message or phone 
		including automatic telephone dialing system or an artificial or prerecorded voice to the residential or cellular telephone
		number you have provided,even if that telephone number is on a corporate,state or national Do not call registry. you do not have 
		agree to receive such calls or messages as a condition of getting any services from ABV loan or its affiliates.
	</p>   
</body>
</html>