<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DocItt Artifacts</title>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/prettify.js"></script>
    <style>
        pre.prettyprint {
            width: auto;
            overflow: auto;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js'>
    </script>
</head>

<body>
    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js">

    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        $(document).ready(function () {
            var tenantList = [];
            var changes = {};
            function MyViewModel(tenantList) {
                var self = this;
                self.tenants = ko.observableArray(tenantList);
                self.changes = changes;
                self.syncAllGoogleFonts = function () {
                    var promises = [];
                    self.tenants().forEach(item => {
                        promises.push(self.syncGoogleFonts(item, name));
                    });
                    return Promise.all(promises).then(function (response) {
                        return response;
                    });
                };
                self.syncGoogleFonts = function (tenant) {
                    tenant.googleFont.isProgress(true);
                    toastr.info('Importing google fonts for ' + tenant.id);

                    return $.post("{{APIBaseUrl}}/sync/theme/" + tenant.id + "/google-fonts").then(function (response) {
                        tenant.googleFont.isProgress(false);
                        if (response != "true") {
                            alert("Failed");
                        }
                        else {
                            toastr.success('Imported google fonts for ' + tenant.id);
                        }
                    }).catch(function () {
                        toastr.error('Google fonts import failed for ' + tenant.id);
                        tenant.googleFont.isProgress(false);
                    });
                };

                self.showModal = function (data) {
                    $('#diffCodePr').removeClass('prettyprinted');
                    var val = data.value;
                    if (Array.isArray(data.value)) {
                        var content = "";
                        data.value.forEach(item => {
                            if (item.value) {
                                if (item.added) {
                                    content += "<span style='background-color: #90EE90'>" + item
                                        .value + "</span>"
                                } else if (item.removed) {
                                    content += "<span style='background-color: #FFA07A'>" + item
                                        .value + "</span>";
                                } else {
                                    content += item.value;
                                }
                            }
                        });
                        val = content;
                    }
                    $("#diffCode").html(val);
                    prettyPrint();
                    $('#diffModal').modal('show');
                };
                self.getAllDetails = function (tenant, name) {
                    var promises = [];
                    self.tenants().forEach(item => {
                        promises.push(self.getDetails(item, name));
                    });
                    return Promise.all(promises).then(function (response) {
                        self.changes[name + 'IsAllSynced'](true);
                        return response;
                    });
                };
                self.publishChanges = function (tenant, name) {
                    tenant[name].isChangeProgress(true);
                    tenant[name].isError(false);
                    toastr.info('Publishing ' + name + " for " + tenant.id);

                    return $.post("{{APIBaseUrl}}/sync/" + name + "/" + tenant.id + "/publish-changes").then(function (response) {
                        tenant[name].isChangeProgress(false);
                        if (response != "true") {
                            tenant[name].isError(true);
                            toastr.error('Error occurred ' + name + " for " + tenant.id);
                        }
                        else {
                            return self.getDetails(tenant, name, true).then(function () {
                                toastr.success('Published ' + name + " for " + tenant.id);
                            });
                        }
                    }).catch(function(error){
                        var message="";
                        if(error.responseJSON && error.responseJSON.errors && error.responseJSON.errors.message){
                            message=error.responseJSON.errors.message;
                        }
                        else if(error.message){
                            message=error.message;
                        }
                        toastr.error('Error occurred ' + name + " for " + tenant.id + " " + message);
                        tenant[name].isChangeProgress(false);
                        tenant[name].isError(true);
                    });
                }

                self.getDetails = function (tenant, name, hideNotification) {
                    tenant[name].isProgress(true);
                    if (hideNotification != true) {
                        toastr.info('Getting ' + name + " for " + tenant.id);
                    }

                    return $.getJSON("{{APIBaseUrl}}/diff/" + name + "/" + tenant.id + "/raw").then(function (
                        response) {
                        tenant[name].changes.removeAll();
                        if (response.changes) {
                            response.changes.forEach(item => {
                                tenant[name].changes.push(item);
                            });
                        }

                        tenant[name].extraFiles.removeAll();
                        if (response.extraFiles) {
                            response.extraFiles.forEach(item => {
                                tenant[name].extraFiles.push(item);
                            });
                        }

                        tenant[name].newFiles.removeAll();
                        if (response.newFiles) {
                            response.newFiles.forEach(item => {
                                tenant[name].newFiles.push(item);
                            });
                        }

                        tenant[name].failedConfigurations.removeAll();
                        if (response.errors && response.errors.failedConfigurations) {
                            response.errors.failedConfigurations.forEach(item => {
                                tenant[name].failedConfigurations.push(item.key + " - " +
                                    item.message);
                            });
                        }

                        tenant[name].errors.removeAll();
                        if (response.isSuccess == false) {
                            tenant[name].errors.push(response.errors.message);
                        } else {
                            tenant[name].isSynced(true);
                        }
                        tenant[name].isProgress(false);

                        if (hideNotification != true) {
                            if (response.isSuccess == true) {
                                toastr.success('Received ' + name + " for " + tenant.id);
                            }
                            else {
                                toastr.error('Error occurred ' + name + " for " + tenant.id);
                            }
                        }
                    }).catch(function (error) {
                        tenant[name].isProgress(false);
                        toastr.error('Error occurred ' + name + " for " + tenant.id);
                    });
                }
            };
            $.getJSON("{{APIBaseUrl}}/tenants").then(function (response) {

                var items = ["configuration", "rule", "template", "lookup", "outboundWebhook", "inboundWebhook", "themeCSS","questionnaire"];
                items.forEach(item => {
                    changes[item + 'IsAllSynced'] = ko.observable(false);
                });

                response.forEach(tenant => {
                    items.forEach(item => {
                        tenant[item] = {};
                        tenant[item].changes = ko.observableArray();
                        tenant[item].extraFiles = ko.observableArray();
                        tenant[item].newFiles = ko.observableArray();
                        tenant[item].failedConfigurations = ko.observableArray();
                        tenant[item].errors = ko.observableArray();
                        tenant[item].isSynced = ko.observable(false);
                        tenant[item].isProgress = ko.observable(false);
                        tenant[item].isChangeProgress = ko.observable(false);
                        tenant[item].isError = ko.observable(false);
                    });
                    tenant.googleFont = {};
                    tenant.googleFont.isProgress = ko.observable(false);
                    tenantList.push(tenant);
                });

                ko.applyBindings(new MyViewModel(tenantList));
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            });
        });
    </script>

</body>

</html>