
    <!doctype html>
    <html>
    <head>
    <meta charset="utf-8">
    <title>OpenClose | Data from the Source</title>
    
    <style>
    .privacypolicy{padding:30px 0;}
    .privacypolicy h1{color:#5aaebb;font-size:36px; font-weight:500;margin:0; margin-bottom:20px;}
    .privacypolicy h3{color:#5aaebb;font-size:24px;font-weight:500;margin:0;margin-bottom:20px; }
    .privacypolicy h5{color:#43607a;font-size:20px;font-style:italic;margin:0;margin-bottom:20px; }
    .privacypolicy h6{color:#43607a;font-size:14px;margin:0;margin-bottom:20px; }
    .privacypolicy p{color:#43607a;font-size:18px; line-height:24px; font-weight:300;margin:0; margin-bottom:30px;}
    .privacypolicy strong{color:#43607a;font-size:18px;font-weight:500;}
    .privacypolicy a{color:#5aaebb;font-size:18px;}
    .privacypolicy ul{ display:block;width:100%; margin-left:30px;}
    .privacypolicy ol{ display:block;width:100%;}
    .privacypolicy ul li{ list-style:disc;}
    .privacypolicy li{margin:0; margin-bottom:20px;color:#43607a;font-size:18px; line-height:24px; font-weight:300;}
    .privacypolicy ol li{ list-style: decimal;}
    .privacypolicy address{font-size:14px;line-height:28px;}
    </style>
    
    </head>
    
    <body>
    
    <div class="privacypolicy clearfix">
        <h3>Privacy Policy</h3>
        <h5>Effective date: June 1, 2017</h5>
        <p>This Privacy Statement applies to www.OpenClose.com, which is owned and operated by OpenClose, Inc.  (“OpenClose” or “OC”). This Privacy Statement describes how OpenClose collects and uses the personally identifiable information (“Personal Information”) acquired through your use of OpenClose website (“Services”). It also describes the choices available to you regarding the use of, your access to, and how to update and correct your Personal Information.</p>
        <p>By using or accessing the Services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Statement, and you hereby consent to our collecting, using, and sharing your information in the following ways.</p>
        
        <h3>Collection and use of Personal Information</h3>
        <p>We collect Personal Information, such as your name, email address, and phone number, so we can send you requested product or service information, respond to your questions and concerns, and make you aware of product or service offerings.</p>
        
        <h3>Sharing of Personal Information</h3>
        <p>We will share your Personal Information with third parties as described in this Privacy Statement. We may also disclose your Personal Information to any third party with your prior consent.</p>
        
        <h6>PROVIDING THE SERVICES</h6>
        <p>OpenClose may transfer Personal Information to companies that help us provide our Services. Transfers to subsequent third parties are covered by the provisions in this Privacy Statement.</p>
        
        <h6>COMPLIANCE WITH LEGAL OBLIGATIONS</h6>
        <p>We may also disclose your Personal Information as required by law, such as to comply with a subpoena, bankruptcy proceedings, or similar legal process, when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</p>
        
        <h3>Opt-out preferences</h3>
        <p>We may communicate with you if you’ve provided us the means to do so. For example, if you’ve given us your email address, we may you about your use of our Services. Also, we may receive a confirmation when you open an email from us. This confirmation helps us make our communications with you more interesting and improve our Services. If you do not want to receive communications from us, please indicate your preference by contacting <a href="mailto:{{tenantConfiguration.templateVariables.privacySupportEmail}}">{{tenantConfiguration.templateVariables.privacySupportEmailText}}</a></p>
        
        <h3>User access and choice</h3>
        <p>If you wish to request access or deletion of your Personal Information, please contact us at <a href="mailto:{{tenantConfiguration.templateVariables.privacySupportEmail}}">{{tenantConfiguration.templateVariables.privacySupportEmailText}}</a>. We will respond to your request within a reasonable timeframe.</p>
        <p>We will retain your information for as long as needed to provide you the Services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
        
        <h3>Security</h3>
        <p>The security of your Personal Information is important to us. We follow generally accepted standards to protect the Personal Information submitted to us, both during transmission and once it is received. If you have any questions about the security of your Personal Information, you can contact us at <a href="mailto:{{tenantConfiguration.templateVariables.privacySupportEmail}}">{{tenantConfiguration.templateVariables.privacySupportEmailText}}</a>.</p>
        
        <h3>Tracking technologies</h3>
        <p>We and our partners use technologies such as cookies or similar technologies to analyze trends, administer the website, track user movements around the website, and gather demographic information about our user base as a whole. Users can control the use of cookies at the individual browser level. Your browser may offer you a “Do Not Track” option, which allows you to signal to operators of websites and web applications and services (including behavioral advertising services) that you do not wish such operators to track certain of your online activities over time and/or across different websites. The Services do not support Do Not Track requests at this time, which means that we collect information about your online activity both while you are using and after you leave the Services. We partner with a third party either to display advertising on our website or to manage our advertising on other sites. Our third-party partner may use cookies or similar technologies to provide you advertising based upon your browsing activities and interests. If you wish to opt out of interest-based advertising, click <a href="#">here</a>. Please note you will continue to receive generic ads.</p>
        <p>As is true of most websites, we gather certain information automatically and store it in log files. This information may include internet protocol (“IP”) addresses, browser type, internet service provider, referring/exit pages, operating system, date/time stamp, and/or clickstream data.</p>
        <p>We may combine this automatically collected log information with other information we collect about you. We do this to improve the Services, or to improve marketing, analytics, or site functionality.</p>
        
        <h3>Links to other sites</h3>
        <p>Our website includes links to other websites whose privacy practices may differ from those of OpenClose. If you submit Personal Information to any of those websites, your information is governed by their privacy statements. We encourage you to carefully read the privacy statement of any website you visit.</p>
        
        <h3>Social media widgets</h3>
        <p>Our website may include social media features, such as the Facebook or Twitter button or interactive mini-programs that run on our website. These features may collect your IP address and which page you are visiting on our website, and may set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on our website. Your interactions with these features are governed by the privacy statement of OpenClose providing it.</p>
        
        <h3>Changes to this Privacy Statement</h3>
        <p>We may update this Privacy Statement to reflect changes to our information practices. If we make any material changes, we will notify you by email (sent to the email address specified in your account) or by means of a notice on this website prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.</p>
        <h6>
            <address>
                CONTACT INFORMATION<br>
                OpenClose, Inc.<br>
                5151 California , # 100<br>
                Irvine, CA 92617
            </address>
        </h6>
    
        </div>
    
    </body>
    </html>