<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{tenantConfiguration.templateVariables.tenantTitleText}} | Privacy Policy</title>
    <style>
        .privacypolicy {
            padding: 30px 0;
        }

        .privacypolicy h1 {
            color: #5aaebb;
            font-size: 36px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 20px;
        }

        .privacypolicy h3 {
            color: #5aaebb;
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 20px;
        }

        .privacypolicy h5 {
            color: #43607a;
            font-size: 20px;
            font-style: italic;
            margin: 0;
            margin-bottom: 20px;
        }

        .privacypolicy h6 {
            color: #43607a;
            font-size: 14px;
            margin: 0;
            margin-bottom: 20px;
        }

        .privacypolicy p {
            color: #43607a;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
            margin: 0;
            margin-bottom: 30px;
        }

        .privacypolicy strong {
            color: #43607a;
            font-size: 18px;
            font-weight: 500;
        }

        .privacypolicy a {
            color: #5aaebb;
            font-size: 18px;
        }

        .privacypolicy ul {
            display: block;
            width: 100%;
            margin-left: 30px;
        }

        .privacypolicy ol {
            display: block;
            width: 100%;
        }

        .privacypolicy ul li {
            list-style: disc;
        }

        .privacypolicy li {
            margin: 0;
            margin-bottom: 20px;
            color: #43607a;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
        }

        .privacypolicy ol li {
            list-style: decimal;
        }

        .privacypolicy address {
            font-size: 14px;
            line-height: 28px;
        }
    </style>
</head>

<body>
    <div class='privacypolicy clearfix'>
        <h3>PRIVACY POLICY</h3>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} is committed to ensuring your privacy. We strive to protect the
            confidentiality of all information that you provide. This policy describes how {{tenantConfiguration.templateVariables.tenantTitleText}} treats your information
            on our website and when you apply for a financial product with {{tenantConfiguration.templateVariables.tenantTitleText}}.</p>
        <h5>COLLECTION AND USE OF PERSONAL INFORMATION</h5>
        <p>If you apply for a loan we may collect nonpublic personal information about you from the following sources:
        </p>
        <ul>
            <li>Information we receive from you on applications and other forms;</li>
            <li>Information about your transactions with us, our affiliates, or others; and</li>
            <li>Information we receive from a consumer reporting agency.</li>
        </ul>
        <h5>HOW WE USE YOUR INFORMATION</h5>
        <p>We do not disclose any nonpublic personal information about our customers or former customers to anyone,
            except as permitted by law.</p>
        <p>In order to make improvements to our website, when you visit our website, we may collect non-personal
            information about the browser, IP address or operating system you are using. We may look at what site you
            came from, or what site you visit when you leave our website. We do not sell or disclose this individual
            user information, profile information or generic system information to third parties.</p>
        <p>When you apply for a mortgage loan with {{tenantConfiguration.templateVariables.tenantTitleText}}, we restrict access to nonpublic personal information about you
            to those employees who need to know that information to provide products and services to you. We maintain
            physical, electronic and procedural safeguards that comply with federal regulations to guard your nonpublic
            personal information.</p>
        <p>When you apply for a mortgage loan with {{tenantConfiguration.templateVariables.tenantTitleText}} through this website, you can always review and request changes
            to personal information collected through this website by contacting the loan originator or processor
            assigned to your loan application.</p>
        <h5>USE OF COOKIES</h5>
        <p>Our web site may use &quot;cookies&quot; to measure site activity and to customize information to fit your
            preferences. Cookies enable the site to remember who you are. We do not record personal or sensitive
            information in our cookies.</p>
        <h5>DEFINITION OF COOKIES</h5>
        <p>A &quot;cookie&quot; is a small piece of information sent by a web server to a web browser enabling the
            browser to remember specific bits of information. The information stored within a cookie can be read only by
            the web server that originally sent the cookie.</p>
        <h5>TYPES OF COOKIES</h5>
        <p>The two types of cookies are session cookies and persistent cookies. The key difference between session
            cookies and persistent cookies is the time of expiration. Session cookies expire at the end of the session
            and Persistent cookies do not expire at the end of the session.</p>
        <h5>HOW YOU CAN CONTROL COOKIES</h5>
        <p>If you wish not to accept cookies and prevent {{tenantConfiguration.templateVariables.tenantTitleText}} from tracking your visits across multiple websites, you can
            configure your browser to reject all cookies, or notify you when a cookie is set. Most browsers give you an
            ability to control and block cookies. If you block cookies on your browser, certain features on our website
            may not work.</p>
        <p>We take your online privacy serious and you can be assured that any information provided by you will be kept
            confidential. When {{tenantConfiguration.templateVariables.tenantTitleText}} makes any material changes to this policy, we make them immediately available to you
            on this website. If you have a question or would like more information contact the Compliance Department at
            800-450-2010.</p>
        <h3>DISCLOSURE & TERMS OF USE</h3>
        <h5>INTRODUCTION</h5>
        <p>These &quot;Terms of Use&quot; govern your access and use of all websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}}, its
            affiliates and subsidiaries (as used here &quot; {{tenantConfiguration.templateVariables.tenantTitleText}} &quot; refers to {{tenantConfiguration.templateVariables.tenantTitleText}},
            its affiliates and subsidiaries, jointly and severally).</p>
        <h5>ACCEPTANCE OF TERMS</h5>
        <p>By referencing, using or accessing websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}}, you agree to these &quot;Terms of
            Use&quot;, including agreeing to indemnify and hold harmless {{tenantConfiguration.templateVariables.tenantTitleText}} from all claims of any
            nature. These &quot;Terms of Use&quot; may be changed at any time at the sole discretion of {{tenantConfiguration.templateVariables.tenantTitleText}}.</p>
        <h5>PRODUCTS AND SERVICES</h5>
        <p>Home Mortgage products and services are offered through {{tenantConfiguration.templateVariables.tenantTitleText}}. Not all products and services
            described are available in all states of the USA, or elsewhere in the world.</p>
        <h5>FAIR LENDING POLICY</h5>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} does not discriminate against any applicant or discourage anyone on a prohibited basis
            from submitting an application. To assure that our employees have a clear and unequivocal statement of our
            commitment to a nondiscriminatory method of doing business, we have adopted the following fair lending
            policy. Employees must be thoroughly familiar with this policy and follow it.</p>
        <ul>
            <li>We do not discriminate against a loan applicant or borrower on the basis of race, color, religion,
                color, national origin, sexual orientation, handicap, age, the fact that all or part of an applicant's
                income comes from any public assistance program or because the applicant has exercised any right under
                any relevant state or federal law.</li>
            <li>We do not selectively encourage applicants and we take no action that would, on a prohibited basis,
                discourage a reasonable person from applying for a mortgage loan.</li>
            <li>We do not, on a prohibited basis, refuse to make a loan, vary the terms offered including the amount,
                interest rate, period or type of loan, or use different standards to evaluate collateral or decide
                whether to extend credit.</li>
            <li>We avoid practices or policies that have a discriminatory effect. This rule applies to all phases of our
                mortgage lending business. It applies even though we do not intend the policy or practice to be
                discriminatory and even if the policy or practice appears to be neutral.</li>
            <li>We have adopted nondiscriminatory loan underwriting standards that avoid subjective, unwritten rules
                that can have a discriminatory effect. We make these underwriting standards public upon request at each
                of our offices.</li>
            <li>We make sure that our scoring system is empirically derived and statistically sound and uses no
                prohibited basis other than age as a predictive factor.</li>
            <li>We train our loan personnel in the principles of fair lending.</li>
            <li>Our Quality Control Manager regularly reviews both our loan underwriting standards and the business
                practices by which we implement them to determine whether they ensure equal lending opportunity and
                reports to management.</li>
            <li>We periodically review our loan portfolio and applications to make sure that we are serving the
                community adequately and on a nondiscriminatory basis in light of the community's demographic
                characteristics and credit demands.</li>
            <li>We conspicuously display the poster in a public area of each of our facilities stating that we are
                ascribing to the Equal Housing Act. Additionally, on all forms of advertisements, regardless of media,
                we include the Equal Housing Opportunity logo and/or the Equal Housing Opportunity slogan.</li>
        </ul>
        <h5>INTELLECTUAL PROPERTY, LOGO LICENSING AND LINKS</h5>
        <p>Materials and intellectual property found on websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}} are protected by
            copyright and other intellectual property laws and treaties in the United States and worldwide. Trademarks,
            service marks and logos used on websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}} , registered and unregistered, are
            subject to United States trademark law. You may not copy, reproduce, modify, store, transmit, or distribute
            any part of intellectual property, trademarks, service marks or logos found on websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}} without specific written consent from {{tenantConfiguration.templateVariables.tenantTitleText}}.</p>
        <h5>CALCULATORS / CALCULATIONS</h5>
        <p>Content contained in websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}} should not be construed to be legal or financial
            advice. Users are responsible for obtaining their own competent legal and financial advice from qualified
            providers at their own expense.</p>
        <p>Mortgage calculators/calculations which may be provided within websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}} are
            provided solely for estimation and are hypothetical. You are responsible for the accuracy of any estimates
            and should not rely solely on these calculators. Seek advice from qualified providers before you make any
            financial decisions.</p>
        <h5>SECURE WEBSITES</h5>
        <p>By using, accessing or attempting to access websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}} that require the use of
            Passwords or any other method of authentication or any combination of authentication methods (these are
            defined as &quot;secure websites&quot;), you are certifying you are the person legally associated with the
            passwords or method(s) of authentication being used. Unauthorized access, attempted access, use or attempted
            use of secure websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}} is prohibited and may violate federal and/or state law.
            Unauthorized access, attempted access, use, or attempted use of secure websites owned by {{tenantConfiguration.templateVariables.tenantTitleText}} may be reported to law enforcement.</p>
        <h5>LINKS TO OTHER SITES – LIMITATION OF LIABILITY</h5>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} may provide links to or from other web sites that {{tenantConfiguration.templateVariables.tenantTitleText}} does not have
            control over. You agree that {{tenantConfiguration.templateVariables.tenantTitleText}} is not responsible for any liability resulting from the
            access or use of sites not owned by {{tenantConfiguration.templateVariables.tenantTitleText}}. You also agree that {{tenantConfiguration.templateVariables.tenantTitleText}} is not
            responsible for any content, advertising, or products available through these websites. Further, you agree
            that {{tenantConfiguration.templateVariables.tenantTitleText}} shall not be responsible or liable, directly or indirectly, for any damage or loss
            caused, or alleged to be caused by or in connection with the use of websites {{tenantConfiguration.templateVariables.tenantTitleText}} owns.</p>
        <h5>MONITORING AND BLOCKING</h5>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}} reserves the right to monitor your access and use of its websites without notification
            to you. {{tenantConfiguration.templateVariables.tenantTitleText}} may record or log your use in a manner as set out in {{tenantConfiguration.templateVariables.tenantTitleText}}'s
            Privacy Policy. You agree that {{tenantConfiguration.templateVariables.tenantTitleText}} reserves the right to terminate and/or block your use or
            access of its websites for any reason without prior notice to you.</p>
        <h5>INDEMNIFICATION</h5>
        <p>By linking, referencing, using or accessing websites of {{tenantConfiguration.templateVariables.tenantTitleText}}, you agree to these &quot;Terms
            of Use&quot;, including agreeing to defend, indemnify and hold harmless {{tenantConfiguration.templateVariables.tenantTitleText}}, its officers,
            directors, employees, agents, licensors, suppliers and any other third party, without limitation, against
            all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation
            of these &quot;Terms of Use&quot;.</p>
        <h3>LIMITATION OF LIABILITY</h3>
        <p>YOU AGREE THAT YOUR ACCESS TO, AND USE OF, WEBSITES OWNED BY {{tenantConfiguration.templateVariables.tenantTitleText}} AND THE CONTENT THEREOF IS
            AT YOUR RISK. YOU AGREE, THAT UNDER NO CIRCUMSTANCES SHALL {{tenantConfiguration.templateVariables.tenantTitleText}} BE LIABLE FOR ANY DIRECT,
            INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES ARISING FROM VIRUSES, WORMS,
            TROJAN HORSES OR OTHER CODE THAT HAS CONTAMINATING OR DESTRUCTIVE PROPERTIES OR YOUR REFERENCING, USING,
            ACCESSING, INABILITY TO USE OR ACCESS OR LINKING TO OR FROM THE WEBSITES OF {{tenantConfiguration.templateVariables.tenantTitleText}} OR ANY
            ERRORS OR OMISSIONS IN THE CONTENT THEREOF. There are some jurisdictions that do not allow for the exclusion
            of certain warranties or the limitation or exclusion of liability for consequential or incidental damages.
            Based on this conclusion, the liability of {{tenantConfiguration.templateVariables.tenantTitleText}} is limited to the greatest extent permitted
            by law.</p>
        <h5>GOVERNING LAW; SEVERABILITY</h5>
        <p>These &quot;Terms of Use&quot; are governed by the laws of the State of California with jurisdiction and
            venue being in Orange County, California. You agree that you're referencing, using or accessing websites of
            {{tenantConfiguration.templateVariables.tenantTitleText}} constitutes your acceptance of the jurisdiction of State or Federal courts in Orange
            County, California and that legal action may be brought against, or by, you must be brought in State or
            Federal courts in Orange County, California. In the event any of the provisions of these &quot;Terms of
            Use&quot; shall be determined by a court of competent jurisdiction to be invalid, any such provision
            determined to be invalid shall not affect the validity of all remaining provisions.</p>
    </div>
</body>

</html>