<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <style>
        .blue {
            color: #0095d0;
        }
    </style>
</head>

<body>
        <div class="blue">By clicking "SIGN UP" I agree by electronic signature to the below:</div>
        <p>1) I am providing written instructions to {{tenantConfiguration.templateVariables.tenantTitleText}} under the Fair Credit Reporting Act authorizing {{tenantConfiguration.templateVariables.tenantTitleText}} to obtain information from my personal credit profile or other information from a consumer reporting agency. I authorize {{tenantConfiguration.templateVariables.tenantTitleText}} to obtain such information solely to conduct a pre-qualification for credit.</p>
        <p>2) Receive disclosures and communications about my loan inquiry in electronic form. (I confirm I have access to a working computer and/or digital device where I can view and manage my information.)</p>
        <p>3) Be contacted by {{tenantConfiguration.templateVariables.tenantTitleText}} about a mortgage, via artificial or prerecorded voice, email and SMS text at my residential or cellular number, dialed manually or by an autodialer. (Consent to be contacted is not a condition to purchase services.) I consent to be contacted even if my phone number or email address appears on a {{tenantConfiguration.templateVariables.tenantTitleText}} Do Not Call/Do Not Email List, a State or National Do Not Call Registry, or any other Do Not Contact List.</p>
</body>

</html>