﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tax Returns</title>
    <meta charset="UTF-8">
    <meta name="viewport"content="width =device-width, initial-scale=1">
</head>
<body>
    {{#each items}}<ul> <li><b>InstitutionName</b>&nbsp;:&nbsp;{{institutionName}}</li><li><b>OwnerName</b>&nbsp;:&nbsp;{{ownerName}}</li><li><b>Type</b>&nbsp;:&nbsp;{{type}}</li></ul>{{/each}}
</body>
</html>