<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Chat Message Received</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>        
        <p><b>Hi {{toUserName}}</b></p>
        <p>{{message}}</p>
        <p>Sincerely,</p>
        <p>{{tenantConfiguration.templateVariables.supportTeam}}</p>
        <ul>
            <li>{{tenantConfiguration.templateVariables.customerServiceNumber}}</li>
            <li><a href="mailto:{{tenantConfiguration.templateVariables.customerServiceEmail}}">{{tenantConfiguration.templateVariables.customerServiceEmailText}}</a></li>
            <li><a href="http://{{tenantConfiguration.templateVariables.websiteUrl}}">{{tenantConfiguration.templateVariables.websiteText}}</a></li>
        </ul>
    </body>
</html>