﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>W2 Paystubs</title>
    <meta charset="UTF-8">
    <meta name="viewport"content="width =device-width, initial-scale=1">
</head>
<body>
    {{#each items}}<ul> <li><b>InstitutionName</b>&nbsp;:&nbsp;{{institutionName}}</li><li><b>OwnerName</b>&nbsp;:&nbsp;{{ownerName}}</li><li><b>Month - Year</b>&nbsp;:&nbsp;{{monthYear}}</li><li><b>Company</b>&nbsp;:&nbsp;{{company}}</li><li><b>Total</b>&nbsp;:&nbsp;{{total}}</li></ul>{{/each}}
</body>
</html>