[qid="BorrowerSelectedProperty"],
[qid="BorrowerInContract"],
[qid="BorrowerPropertyType"],
[qid="BorrowerYearBuilt"],
[qid="BorrowerPropertyUse"],
[qid="BorrowerDependents"],
[qid="BorrowerLastName"],
[qid="BorrowerSuffix"],
[qid="BorrowerAge"],
[qid="BorrowerPropertyTypeUnits"],
[qid="BorrowerPropertyTypeUnitsDisabled"],
[qid="BorrowerREOPropertyType"],
[qid="BorrowerREOPropertyTypeUnits"],
[qid="BorrowerREOPropertyTypeUnitsDisabled"],
[qid="BorrowerEmployerStartDate"],
[qid="BorrowerEmployerEndDate"],
[qid="BorrowerBusinessStartDate"],
[qid="BorrowerBusinessEndDate"],
[qid="BorrowerEmployerWorkYear"],
[qid="BorrowerEmployerWorkMonths"],
[qid="BorrowerIncomeRentPropertyType"],
[qid="BorrowerIncomeRentUnits"],
[qid="BorrowerIncomeRentUnitsDisabled"],
[qid="BorrowerIncomeAlimonySupportAmount"],
[qid="BorrowerIncomeAlimonySupportStartDate"],
[qid="BorrowerAlimonyChildName"],
[qid="ChildSupportName"],
[qid="BorrowerAlimonyChildDOB"],
[qid="ChildSupportDOB"],
[qid="RealEstateFirstName"],
[qid="RealEstateLastName"],
[qid="BorrowerCity"],
[qid="BorrowerState"],
[qid="BorrowerOweFirst"],
[qid="BorrowerOweSecond"],
[qid="BorrowerIncomeAlimonySupport"] .alimonyClm1,
[qid="BorrowerIncomeAlimonySupport"] .alimonyClm2{width:50%;float:left;padding:0;padding-left:15px}

[qid="BorrowerLastName"],
[qid="BorrowerPropertyUse"],
[qid="BorrowerDependents"],
[qid="BorrowerPropertyType"],
[qid="BorrowerREOPropertyType"],
[qid="BorrowerSelectedProperty"],
[qid="BorrowerEmployerStartDate"],
[qid="BorrowerBusinessStartDate"],
[qid="BorrowerEmployerWorkYear"],
[qid="BorrowerIncomeRentPropertyType"],
[qid="BorrowerIncomeAlimonySupportAmount"],
[qid="BorrowerAlimonyChildName"],
[qid="RealEstateFirstName"],
[qid="ChildSupportName"],
[qid="BorrowerCity"],
[qid="BorrowerOweFirst"],
[qid="BorrowerIncomeAlimonySupport"] .alimonyClm1{padding:0;padding-right:15px}


[qid="SpouseLastName"],
[qid="SpouseLastNameMarried"]{width:65%;float:left;padding:0;padding-right:15px;}
[qid="SpouseSuffix"],
[qid="SpouseSuffixMarried"]{width:35%;float:left;padding:0;padding-left:15px;}

[qid="Ethnicity"],
[qid="Race"],
[qid="Sex"],
[qid="BorrowerEthnicityDoNotWish"],
[qid="BorrowerRaceDoNotWish"],
[qid="BorrowerSexDoNotWish"],
[qid="BorrowerHispanicOrLatino"],
[qid="BorrowerHispanicOrLatinoNHL"],
[qid="BorrowerResidancy"],
[qid="BorrowerAsianType"],
[qid="BorrowerBlackOrAfrician"],
[qid="BorrowerResidancyNH"],
[qid="BorrowerResidancyWH"]{width:48%;float:left;}

[qid="Ethnicity"],
[qid="Race"],
[qid="Sex"],
[qid="BorrowerHispanicOrLatino"],
[qid="BorrowerResidancy"],
[qid="BorrowerBlackOrAfrician"]{margin-right:4%;}

[qid="BorrowerEthnicityDoNotWish"],
[qid="BorrowerRaceDoNotWish"],
[qid="BorrowerSexDoNotWish"]{padding-left:15px;}

[ssid="IncomeLogoSubSection"]{width:610px;margin:0 auto;}
[ssid="IncomeLogoSubSection"] .question {position: relative;margin: 0px;}
[ssid="IncomeLogoSubSection"] .subsection-label {margin-left: 0px;}
[ssid="ProfileSubSection"],
[ssid="IncomeSubSection"]{width:50%;margin:0 auto;}
[ssid="DeclarationSubSection"],
[ssid="DeclarationsSubSection"],
[ssid="SummarySubSection"]{width:75%;margin:0 auto;}
[ssid="LoanOfficerSubSection"]{width:50%;margin:0 auto; padding-left: 10px;}
[ssid="LoanOfficerSubSection"] .question{margin-left: 0px;}
[ssid="LoanOfficerSubSection"] .subsection-label{margin-left: 0px;}

[qid="SpouseFirstName"]{margin-top:20px;}

[qid="BorrowerAlimonyChildName"] .form-group,
[qid="BorrowerAlimonyChildDOB"] .form-group,
[qid="ChildSupportName"] .form-group,
[qid="ChildSupportDOB"] .form-group{margin-bottom:15px;}

[qid="BorrowerAlimonyChildName"] .ui-control-error span,
[qid="BorrowerAlimonyChildDOB"] .ui-control-error span,
[qid="ChildSupportName"] .ui-control-error span,
[qid="ChildSupportDOB"] .ui-control-error span{bottom: 10px;}

[qid="propertCurrentlyOwned"] .floating-group{margin:0}
[qid="BorrowerIncomeRentInsTaxDues"] .form-group{margin-bottom:10px;}

[qid="BorrowerMaritalStatus"] .ui-popover{position: relative;top: 4px;display:inline;}

[qid="BorrowerRefinanceCashOutIndicator"] .form-group{margin-bottom:0;}
[qid="BorrowerCashOutAmount"] .form-group{margin-top:40px;}


[qid="BorrowerPropertyType"] .form-group,
[qid="BorrowerPropertyTypeUnits"] .form-group,
[qid="BorrowerPropertyTypeUnitsDisabled"] .form-group{margin-top:15px;}

[qid="BorrowerInContract"] .form-group{margin: 0 0 20px 0;}

[qid="RefinanceProperty"]
{margin-top:-15px;}

[qid="BorrowerAdditionalAddress"]{margin-top:15px;}

[qid="BorrowerCurrentStreetAddress"] .addressdet,
[qid="BorrowerCurrentStreetAddressCheckBoxFalse"] .addressdet,
[qid="BorrowerCurrentStreetAddressCheckBoxTrue"] .addressdet{margin-top: 30px;}

[qid="ExplanationNote"] .ui-label,
[qid="noMortgage"] .ui-label{color: @secondary1;font-size:@default-f14; line-height:@default-f14}
[qid="ExplanationNote"] .ui-label{color: @primary1;margin-bottom:10px;}

[qid="SpouseResendInvite"] .resendinvite {line-height:normal;margin-bottom:20px;}

[qid="BorrowerCombineMonthlyHousingExpense"] .ui-label{color: @primary1;}

[qid="DemographicInformation"] .ui-label{color: @primary1;margin:0 0 10px 0;}
[qid="PurposeCollectingInformation"] .ui-label{color: @grey;font-size:@default-f13; line-height:@default-f20;margin:0;padding-bottom:20px;}

[qid="BorrowerIndividualOrJointCredit"] .question-label{margin-bottom:0;}
[qid="BorrowerMaritalStatus"],
[qid="BorrowerSpouseLegalNameMessage"]{margin-bottom:0;}
[qid="BorrowerSpouseLegalNameMessage"] .ui-label{margin-bottom:10px;}
[qid="CoBorrowerSpouseLegalNameMessage"]{margin-bottom:0;}
[qid="CoBorrowerSpouseLegalNameMessage"] .ui-label{margin-bottom:10px;}

[qid="BorrowerPreferredEmail"],
[qid="BorrowerFirstName"],
[qid="BorrowerLoanAmount"],
[qid="BorrowerLoanBorrowAmount"],
[qid="BorrowerEmployerAddress"],
[qid="BorrowerSocialSecurityIncome"],
[qid="BorrowerInterestLastYear"],
[qid="BorrowerOtherIncomePerMonth"],
[qid="BorrowerIncomeRentPropertyAddress"],
[qid="BorrowerOriginalPurchasePrice"],
.custom-question{margin-top:15px;}

#Email16 [qid="BorrowerPreferredEmail"]{margin-top:0;}

[qid="BorrowerAddSpouseAsCoBorrower"]{margin-top:15px;}
[qid="BorrowerAddSpouseAsCoBorrower"] .floating-group{padding-top:15px;}
[qid="BorrowerAddSpouseAsCoBorrower"] .form-group{margin: 0 0 10px 0;}

[qid="BorrowerMaritalStatus"] .ui-control-error,
[qid="BorrowerMaritalStatusMarried"] .ui-control-error{bottom: -5px;}
[qid="BorrowerMaritalStatusMarried"] .ui-popover{display:inline-block;vertical-align: bottom;}
[qid="BorrowerSpouseLegalName"] .ui-label{color: @primary1;font-size:22px; line-height:24px;margin-bottom:20px;margin-top: 15px;}
[qid="CoBorrowerSpouseLegalName"] .ui-label{color: @primary1;font-size:22px; line-height:24px;margin-bottom:20px;margin-top: 15px;}
[qid="BorrowerSpouseLegalNameMarried"] .ui-label{color: @primary1;font-size:22px; line-height:24px;margin-bottom:20px;}

[qid="BorrowerAddSpouseAsCoBorrower"] .ui-control-error span{bottom: 4px;}

[qid="BorrowerPrimaryBorrowerREO"] .question-label{display:none}

[qid="SpouseSuffixMarried"] .form-group{margin: 0 0 20px 0;}
[qid="BorrowerBusinessOwn25percent"] .form-group{margin: 0 0 10px 0;}

[qid="BorrowerFirstMortgagePI"],
[qid="BorrowerOtherFinancingPI"],
[qid="BorrowerHazardInsurance"],
[qid="BorrowerRealEstateTaxes"],
[qid="BorrowerMortgageInsurance"],
[qid="BorrowerHomeOwnerAssocDues"],
[qid="BorrowerCombineMonthlyExpenseOther"],
[qid="BorrowerCombineMonthlyExpenseTotal"],
[qid="BorrowerFirstMortgagePICheckBoxTrue"],
[qid="BorrowerOtherFinancingPICheckBoxTrue"],
[qid="BorrowerHazardInsuranceCheckBoxTrue"],
[qid="BorrowerRealEstateTaxesCheckBoxTrue"],
[qid="BorrowerMortgageInsuranceCheckBoxTrue"],
[qid="BorrowerHomeOwnerAssocDuesCheckBoxTrue"],
[qid="BorrowerCombineMonthlyExpenseOtherCheckBoxTrue"],
[qid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrue"],
[qid="BorrowerFirstMortgagePICheckBoxFalse"],
[qid="BorrowerOtherFinancingPICheckBoxFalse"],
[qid="BorrowerHazardInsuranceCheckBoxFalse"],
[qid="BorrowerRealEstateTaxesCheckBoxFalse"],
[qid="BorrowerMortgageInsuranceCheckBoxFalse"],
[qid="BorrowerHomeOwnerAssocDuesCheckBoxFalse"],
[qid="BorrowerCombineMonthlyExpenseOtherCheckBoxFalse"],
[qid="BorrowerCombineMonthlyExpenseTotalCheckBoxFalse"]{position: absolute;left: 0;top:4px;z-index: 99;}

[qid="BorrowerFirstMortgagePI"] .ui-label,
[qid="BorrowerOtherFinancingPI"] .ui-label,
[qid="BorrowerHazardInsurance"] .ui-label,
[qid="BorrowerRealEstateTaxes"] .ui-label,
[qid="BorrowerMortgageInsurance"] .ui-label,
[qid="BorrowerHomeOwnerAssocDues"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseOther"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseTotal"] .ui-label,
[qid="BorrowerFirstMortgagePICheckBoxTrue"] .ui-label,
[qid="BorrowerOtherFinancingPICheckBoxTrue"] .ui-label,
[qid="BorrowerHazardInsuranceCheckBoxTrue"] .ui-label,
[qid="BorrowerRealEstateTaxesCheckBoxTrue"] .ui-label,
[qid="BorrowerMortgageInsuranceCheckBoxTrue"] .ui-label,
[qid="BorrowerHomeOwnerAssocDuesCheckBoxTrue"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseOtherCheckBoxTrue"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrue"] .ui-label,
[qid="BorrowerFirstMortgagePICheckBoxFalse"] .ui-label,
[qid="BorrowerOtherFinancingPICheckBoxFalse"] .ui-label,
[qid="BorrowerHazardInsuranceCheckBoxFalse"] .ui-label,
[qid="BorrowerRealEstateTaxesCheckBoxFalse"] .ui-label,
[qid="BorrowerMortgageInsuranceCheckBoxFalse"] .ui-label,
[qid="BorrowerHomeOwnerAssocDuesCheckBoxFalse"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseOtherCheckBoxFalse"] .ui-label,
[qid="BorrowerCombineMonthlyExpenseTotalCheckBoxFalse"] .ui-label{margin:0;}

[qid="BorrowerFirstMortgagePIValue"] .form-group,
[qid="BorrowerOtherFinancingPIValue"] .form-group,
[qid="BorrowerHazardInsuranceValue"] .form-group,
[qid="BorrowerRealEstateTaxesValue"] .form-group,
[qid="BorrowerMortgageInsuranceValue"] .form-group,
[qid="BorrowerHomeOwnerAssocDuesValue"] .form-group,
[qid="BorrowerCombineMonthlyExpenseOtherValue"] .form-group,
[qid="BorrowerCombineMonthlyExpenseTotalValue"] .form-group,
[qid="BorrowerFirstMortgagePIValueCheckBoxTrue"] .form-group,
[qid="BorrowerOtherFinancingPIValueCheckBoxTrue"] .form-group,
[qid="BorrowerHazardInsuranceValueCheckBoxTrue"] .form-group,
[qid="BorrowerRealEstateTaxesValueCheckBoxTrue"] .form-group,
[qid="BorrowerMortgageInsuranceValueCheckBoxTrue"] .form-group,
[qid="BorrowerHomeOwnerAssocDuesValueCheckBoxTrue"] .form-group,
[qid="BorrowerCombineMonthlyExpenseOtherValueCheckBoxTrue"] .form-group,
[qid="BorrowerCombineMonthlyExpenseTotalValueCheckBoxTrue"] .form-group,
[qid="BorrowerFirstMortgagePIValueCheckBoxFalse"] .form-group,
[qid="BorrowerOtherFinancingPIValueCheckBoxFalse"] .form-group,
[qid="BorrowerHazardInsuranceValueCheckBoxFalse"] .form-group,
[qid="BorrowerRealEstateTaxesValueCheckBoxFalse"] .form-group,
[qid="BorrowerMortgageInsuranceValueCheckBoxFalse"] .form-group,
[qid="BorrowerHomeOwnerAssocDuesValueCheckBoxFalse"] .form-group,
[qid="BorrowerCombineMonthlyExpenseOtherValueCheckBoxFalse"] .form-group,
[qid="BorrowerCombineMonthlyExpenseTotalValueCheckBoxFalse"] .form-group{width: 45%;float: right;}

[qid="TypesMonthlyAvgLabel"] .ui-label,
[qid="TypesMonthlyAvg"] .ui-label{margin-bottom:0;font-size: 13px;}

[qid="HowlongLineofWork"] .ui-label{margin-bottom:20px;}
[qid="ListRealEstateProperties"] .ui-label{margin-bottom:0;}
[qid="BorrowerREO"] .form-group,
[qid="BorrowerRealEstateAgent"] .form-group{margin-bottom:20px;}

[qid="BorrowerCombineMonthlyExpenseTotal"] .ui-label{color:@secondary1;}

[qid="BorrowerREOInsTaxDues"] .form-group{margin-bottom:10px;}

[qid="IfApplicableId"] .ui-label,
[qid="IfApplicableChildId"] .ui-label,
[qid="OptionalOtherIncome"] .ui-label{color:@secondary1;margin-bottom: 0;}
[qid="OtherTypesIncome"] .ui-label{margin-bottom:0}

[qid="BorrowerPrimaryBorrowerREO"] .applicant-info .title{color:@secondary1;}

[qid="BorrowerExistingVALoan"] .form-group{margin-bottom:20px;}
[qid="BorrowerMonthlyChildCareVA"] .form-group{margin-bottom:35px;}

[qid="BorrowerEmployerWorkYear"] .form-group,
[qid="BorrowerEmployerWorkMonths"] .form-group{margin-bottom:15px;}
[qid="BorrowerEmployerWorkYear"] .ui-control-error span,
[qid="BorrowerEmployerWorkMonths"] .ui-control-error span{bottom:10px}

[qid="SelectAllSource"] .ui-label{margin-bottom:20px; font-weight:600}
[qid="OurAutomatedSystem"] .ui-label{margin-bottom:40px;}

[ssid="SummarySubSection"] .ui-label{margin-bottom:20px;}

[qid="BySigningBelow"] .ui-label,
[qid="CompleteInformation"] .ui-label,
[qid="LblPropertySecurity"] .ui-label,
[qid="LblElectronicRecords"] .ui-label,
[qid="LblDelinquency"] .ui-label,
[qid="LblSharingInformation"] .ui-label{color:@primary1;font-size:18px;}

[qid="IfApplicableId"],
[qid="IfApplicableChildId"],
[qid="OptionalOtherIncome"]{margin-bottom:10px}

[qid="RealEstateNote"] .ui-label,
[qid="ListRealEstateNote"] .ui-label{color:@secondary1;}

[qid="AddCoBorrower"] .ui-control-error{height: 25px;}

[qid="PropertiesCurrentlyOwn"] .ui-label{margin-bottom:0;}

[qid="AcknowledgementJointCredit"] .ui-label{color:@secondary1;font-style:italic}
[qid="AdditionalExpenses"] .ui-label{margin-bottom: 25px;}

[qid="IndividualInvitation"] .ui-label,
[qid="AcknowledgementJointCredit"] .ui-label{margin-bottom:20px;}

[qid="Calculator"]{width: 25%;float:left;}
[qid="NetRentalMonthlyIncome"]{width: 42%;float:left;}
[qid="AddAnotherProperty"]{width: 33%;float:left;}
[qid="NetRentalMonthlyIncome"] .ui-label{color:@secondary1}

[qid="Delete"],
[qid="Pipeline"]{width:auto;float:left;}
[qid="AddAnotherPropertyDefault"] .ui-label,
[qid="AddAnotherProperty"] .ui-label,
[qid="Delete"] .ui-label{color:@secondary1;}
[qid="Pipeline"] .ui-label{font-size: 20px;padding:0 25px;}

[ssid="DeclarationSubSection"]{margin-bottom:30px;}
[ssid="DeclarationSubSection"] .question:nth-child(2),
[ssid="DeclarationSubSection"] .question:nth-child(6),
[ssid="DeclarationSubSection"] .question:nth-child(10),
[ssid="DeclarationSubSection"] .question:nth-child(14),
[ssid="DeclarationSubSection"] .question:nth-child(18),
[ssid="DeclarationSubSection"] .question:nth-child(21),
[ssid="DeclarationSubSection"] .question:nth-child(29),
[ssid="DeclarationSubSection"] .question:nth-child(31),
[ssid="DeclarationSubSection"] .question:nth-child(35){background:@declaration-on;}
[ssid="DeclarationSubSection"] .question:nth-child(29),
[ssid="DeclarationSubSection"] .question:nth-child(31),
[ssid="DeclarationSubSection"] .question:nth-child(35){margin-top:5px;padding:20px 10px}
[ssid="DeclarationSubSection"] .question:nth-child(29) .custom-checkbox,
[ssid="DeclarationSubSection"] .question:nth-child(31) .custom-checkbox,
[ssid="DeclarationSubSection"] .question:nth-child(35) .custom-checkbox{margin:0;}

[ssid="DeclarationSubSection"] .question .ui-control-error{ height:inherit}
[ssid="DeclarationSubSection"] .question .ui-control-error span{position:relative;bottom:inherit;left:inherit;padding:0 15px 10px 15px;}

[qid="BorrowerRentOrOwn"] .ui-control-error span{bottom:-5px}
[qid="BorrowerPhone"] .ui-control-error span{bottom:15px}

[qid="BorrowerCashOutType"]{margin-bottom:30px;}

[qid="BorrowerOwnshipInterest"] .declaration-container{background:@declaration-on;}

[qid="DeclarationIfYes"] .ui-label{color:@primary1;font-size:14px;margin-bottom:10px;}
[qid="PropertyDidYouOwn"] .ui-label,
[qid="HoldTitleToHome"] .ui-label{color:@primary1;}

[qid="TypeProperty"],
[qid="TitleHold"]{width:20%;float:left;}
[qid="PropertyDidYouOwn"],
[qid="HoldTitleToHome"]{width:50%;float:left;}
[qid="BorrowerTypeOfPropertyOwn"],
[qid="BorrowerHoldTitle"]{width:30%;float:left;}

[qid="PropertyDidYouOwn"],
[qid="BorrowerTypeOfPropertyOwn"]{margin-top:20px;}

[qid="Ethnicity"] .ui-label,
[qid="Race"] .ui-label,
[qid="Sex"] .ui-label{margin:0;}

[qid="ReviewBelowAccuracy"] .ui-label{margin-bottom:10px;}

[qid="Acknowledgement"] .ui-label,
[qid="AcknowledgmentAndAgreement"] .ui-label{color:@secondary1;font-size:28px;margin-bottom:20px;}

[qid="EachUndersignedLabel"] .ui-label,
[qid="EachUndersignedherebyLabel"] .ui-label{font-size:14px;margin-bottom:20px;}

[qid="BorrowerIsCoBorrower"]{margin-top: 20px;}

[qid="BorrowerPhone"] .form-group,
[qid="BorrowerSpouseOccupied"] .form-group{margin-bottom: 20px;}
[qid="BorrowerMonthlyRentalAmount"] .form-group{margin-top: 10px;}

[qid="BorrowerCellPhone"]{margin-top: 10px;}

[qid="BorrowerLookingToSell"] .floating-group{margin-top: -15px;}

[qid="BorrowerVASelectOptions"] .tree-view{padding:0;margin-bottom:25px;}

#loanAmount .form-group{margin-bottom:0;}
.loan-calc-wrapper .col-md-12:last-child .ui-control-error span{bottom:-4px;}


/* LO Static App CSS*/
[subsectionuid="EmploymentSubSection"] h3 #dynamicTitleClass,
[subsectionuid="EmploymentSubSection"] h3 span{
  color: @emp !important;
}
[subsectionuid="EmploymentSubSection"] static-application-question-sections:nth-child(1) h6{color:@emp !important;}
[subsectionuid="EmploymentSubSection"] h6 .common-img{display: none;}
[subsectionuid="EmploymentSubSection"] static-application-question-sections:nth-child(1) .common-img{display: inline-block;}

[subsectionuid="AlimonySubSection"] h3 #dynamicTitleClass,
[subsectionuid="AlimonySubSection"] h3 span {
  color: @child !important;
}
[subsectionuid="AlimonySubSection"] static-application-question-sections:nth-child(1) h6{color:@child !important;}
[subsectionuid="AlimonySubSection"] h6 .common-img{display: none;}
[subsectionuid="AlimonySubSection"] static-application-question-sections:nth-child(1) .common-img{display: inline-block;}

[subsectionuid="SelfEmploymentSubSection"] h3 #dynamicTitleClass,
[subsectionuid="SelfEmploymentSubSection"] h3 span{
  color: @selfemp !important;
}
[subsectionuid="SelfEmploymentSubSection"] static-application-question-sections:nth-child(1) h6{color:@selfemp !important;}
[subsectionuid="SelfEmploymentSubSection"] h6 .common-img{display: none;}
[subsectionuid="SelfEmploymentSubSection"] static-application-question-sections:nth-child(1) .common-img{display: inline-block;}

[subsectionuid="MilitarySubSection"] h3 #dynamicTitleClass,
[subsectionuid="MilitarySubSection"] h3 span{
  color: @military !important;
}
[subsectionuid="MilitarySubSection"] static-application-question-sections:nth-child(1) h6{color:@military !important;}
[subsectionuid="MilitarySubSection"] h6 .common-img{display: none;}
[subsectionuid="MilitarySubSection"] static-application-question-sections:nth-child(1) .common-img{display: inline-block;}

[subsectionuid="RentalSubSection"] h3 #dynamicTitleClass,
[subsectionuid="RentalSubSection"] h3 span{
  color: @rental !important;
}
[subsectionuid="RentalSubSection"] static-application-question-sections:nth-child(1) h6{color:@rental !important;}
[subsectionuid="RentalSubSection"] h6 .common-img{display: none;}
[subsectionuid="RentalSubSection"] static-application-question-sections:nth-child(1) .common-img{display: inline-block;}
[subsectionuid="RentalSubSection"] static-application-question-sections:nth-child(1) .text-boxs[quesid="AddAnotherProperty"] { width: 50% !important;}

[subsectionuid="SocialSubSection"] h3 #dynamicTitleClass,
[subsectionuid="SocialSubSection"] h3 span{
  color: @socsecurity !important;
}
[subsectionuid="SocialSubSection"] static-application-question-sections:nth-child(1) h6{color:@socsecurity !important;}
[subsectionuid="SocialSubSection"] h6 .common-img{display: none;}
[subsectionuid="SocialSubSection"] static-application-question-sections:nth-child(1) .common-img{display: inline-block;}

[subsectionuid="InterestSubSection"] h3 #dynamicTitleClass,
[subsectionuid="InterestSubSection"] h3 span{
  color: @dividend !important;
}
[subsectionuid="InterestSubSection"] static-application-question-sections:nth-child(1) h6{color:@dividend !important;}
[subsectionuid="InterestSubSection"] h6 .common-img{display: none;}
[subsectionuid="InterestSubSection"] static-application-question-sections:nth-child(1) .common-img{display: inline-block;}

[subsectionuid="OtherSubSection"] h3 #dynamicTitleClass,
[subsectionuid="OtherSubSection"] h3 span{
  color: @other !important;
}
[subsectionuid="OtherSubSection"] static-application-question-sections:nth-child(1) h6{color:@other !important;}
[subsectionuid="OtherSubSection"] h6 .common-img{display: none;}
[subsectionuid="OtherSubSection"] static-application-question-sections:nth-child(1) .common-img{display: inline-block;}
[subsectionuid="OtherSubSection"] static-application-question-sections:nth-child(1) .text-boxs[quesid="AddAnotherIncome"] { width: 50% !important;}

[subsectionuid="AssetsREOInfo"] static-application-question-sections:nth-child(1) .text-boxs[quesid="AddAnotherPropertyDefault"] { width: 50% !important;}

[qid="BorrowerSpouseDisclosureMessage"] {
  margin: 10px 0px 0px;
}
[qid="BorrowerSpouseDisclosureMessage"] .ui-label {
    margin-bottom: 3px;
}
.label-option[quesid="BorrowerCombineMonthlyExpenseTotal"] .labelWrapper,
.label-option[quesid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrue"] .labelWrapper {
    margin-bottom: 12px !important;
    font-size: 16px;
    color: @secondary1;
    font-weight: 500;
}

.label-option[quesid="BorrowerCombineMonthlyExpenseTotal"],
.label-option[quesid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrue"]{
        background: @search-bg;
        width: 50%;
        float: left;
        padding-top: 9px;
}
.label-option-input[quesid="BorrowerCombineMonthlyExpenseTotalValue"]{
  width: 47.5% !important;
  float: left;
  text-align: left;
}
.label-option-input[quesid="BorrowerCombineMonthlyExpenseTotalValue"],
.label-option-input[quesid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrueValue"] {
    background: @search-bg;
    width: 50%;
    padding-top: 5px;
}
.label-option-input[quesid="BorrowerCombineMonthlyExpenseTotalValue"] .labelWrapper,
.label-option-input[quesid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrueValue"] .labelWrapper {
        margin-bottom: 12px !important;
        font-size: 16px;
        float: right;
        color: @secondary1;
        padding-right: 4px;
        font-weight: 500;
    }    
[quesid="BorrowerIncomePropertyLabel"] .labelWrapper {
        color: @secondary1;
 }
 [quesid="Calculator"]{
     margin-bottom: 30px !important;
 }
[quesid="NetRentalMonthlyIncome"] .labelWrapper
{
    text-align: right;
    float: right !important;
    margin-bottom: 0px;
}
[quesid="Calculator"] .labelWrapper ,
[quesid^="AddAnother"] .labelWrapper
{
    text-align: right;
    float: right !important;
    color: @secondary1;
}
[quesid="Delete"] .labelWrapper {
  color: @secondary1;
}
.text-boxs[quesid="PropertyDidYouOwn"] .labelWrapper , 
.text-boxs[quesid="HoldTitleToHome"] .labelWrapper{margin-left:0 !important; margin-bottom: 0px;}
[quesid="BorrowerEmployerAddress"], 
[quesid="BorrowerEmployerWorkYear"], 
[quesid="BorrowerEmployerWorkMonths"],
[quesid="BorrowerBusinessCompanyAddress"], 
[quesid="BorrowerBusinessWorkMonths"], 
[quesid="BorrowerBusinessWorkYear"]{ margin-top: 0px !important; }
[quesid="BorrowerEmployerEndDateFalse"], 
[quesid="BorrowerBusinessEndDateFalse"], 
[quesid="BorrowerBusinessPhone"], 
[quesid="BorrowerEmployerPhone"]{ margin-top: 30px !important; }
[quesid^="HowlongLineofWork"]{ margin-top: -18px !important; }
[quesid="BorrowerBusinessType"]{ margin-bottom: 50px !important; }
[quesid="BorrowerHispanicOrLatinoNHL"] {
    margin-bottom: 200px;
}
[quesid="Ethnicity"], [quesid="Race"], [quesid="Sex"] {
    background: @declaration-on;
    padding: 7px 10px 34px;
    margin-left: 12px;
    width:48%;
}


[qid="BorrowerSpouseDisclosureMessage"] {
  margin: 10px 0px 0px;
}

[qid="BorrowerSpouseDisclosureMessage"] .ui-label {
  margin-bottom: 3px;
}


[quesid="Ethnicity"] .ui-label, [quesid="Race"]  .ui-label, [quesid="Sex"]  .ui-label { margin-bottom: 0px;}

[quesid = "BorrowerEthnicityDoNotWish"],
[quesid = "BorrowerRaceDoNotWish"],
[quesid="BorrowerSexDoNotWish"]{
    background: @declaration-on;
    padding: 7px 10px 0px;
    width: 49%;
    margin-right: 3px;
}
[quesid="BorrowerTransactionType"] { margin-bottom: 30px !important;}
[quesid="BorrowerTransactionType"] .ui-control-error span{bottom:-17px;}
[quesid="BorrowerTransactionType"] .ui-control-error {clear: both;}
[quesid="BorrowerNeedRealEstateReferral"], [quesid="BorrowerRealEstateAgent"] {
  margin-bottom: 14px;
}

[quesid="BorrowerEmployerEndDateFalse"] .ui-control-error span {
  bottom: -8px !important;
}
[quesid = "BorrowerBusinessEndDateFalse"] .ui-control-error span {
  bottom: -8px !important;
}
[quesid = "BorrowerVASelectOptions"] .ui-control-error span.ui-radio-tree-view {
  bottom: -36px !important;
}

[quesid = "Delete"] {float: left;}
[quesid = "AddAnotherEmploymentIncome"]{float: right;}
[quesid = "AddAnotherBusinessIncome"]{float:right;}
[quesid ="AddAnotherChild"] { width:auto; float: right;}
[quesid="AddCoBorrower"] { margin-top: 15px;}


[quesid="RealEstateEmail"] .ui-control-error span, .email.ui-coborrower-info .ui-control-error span
  {bottom:3px !important;}
  [quesid="BorrowerDemographicEmail"], [quesid="BorrowerDemographicFax"]{float: right; clear: both;}
  [quesid="BorrowerEstimatedMonthlyRent"], [quesid="YesManufacturedHome"]{padding-left: 15px;}

  [quesid="AmortizationType"],  [quesid="NoteRatePercent"]  {  margin-top: 35px !important;}

 [quesid="BorrowerDemographicFace"] li,
 [quesid="BorrowerDemographicTelephone"] li,
 [quesid="BorrowerDemographicFax"] li,
 [quesid="BorrowerDemographicEmail"] li {margin: 0 0 10px 0 !important;}
 [quesid="BorrowerSelectedProperty"] .yes-no.form-group{margin-bottom: 0 !important;}

 [quesid="AddAnotherResidence"] { margin-right: 50%; margin-top: 0 !important; margin-bottom: 12px; }
 [quesid="BorrowerPropertyType"] { margin-top: 20px; margin-bottom: 0; }
 [quesid="BorrowerInContract"] { margin-top: 35px !important; }
 [subsectionuid="TransactionInformation"] .tab-pane:nth-child(1) static-application-question-sections:nth-child(3) .static-app-parent{margin-bottom: 90px;}
 [subsectionuid="TransactionInformation"] .tab-pane:nth-child(2) static-application-question-sections:nth-child(3) [quesid="BorrowerLoanAmount"] {margin-left: 15px; margin-right: 15px;}
 [quesid="BorrowerMonthlyRentalAmountCheckBoxFalse"] {
  margin-top: 16px;
}
[quesid^="AddAnother"] .floating-group{float: right;}
[quesid^="Delete"] .floating-group{float: right;}
.static-panel-parent .pad-btn{ padding-right: 30px; padding-left: 30px; }
[quesid^="AddCoBorrower"] {padding-right: 0;}

[quesid="BorrowerMonthlyRentalAmount"],
[quesid="BorrowerFirstMortgagePIValue"],
[quesid="BorrowerOtherFinancingPIValue"],
[quesid="BorrowerHazardInsuranceValue"],
[quesid="BorrowerRealEstateTaxesValue"],
[quesid="BorrowerMortgageInsuranceValue"],
[quesid="BorrowerHomeOwnerAssocDuesValue"],
[quesid="BorrowerCombineMonthlyExpenseOtherValue"]
 {padding-right: 15px;}
 [quesid="AddAnotherIncome"]{float:right;}

[quesid="AddAnotherProperty"]{
  float: right;
}
 
[quesid="BorrowerAddSpouseAsCoBorrower"] {
  width:80% !important;
}

@media only screen and (max-width:1025px){

[ssid="IncomeLogoSubSection"]{width:80%;margin:0 auto;}
[ssid="IncomeSubSection"],
[ssid="ProfileSubSection"],
[ssid="DeclarationSubSection"],
[ssid="DeclarationsSubSection"],
[ssid="LoanOfficerSubSection"],
[ssid="SummarySubSection"]{width:83%;margin:0 auto;}
[subsectionuid="TransactionInformation"] .tab-pane:nth-child(1) static-application-question-sections:nth-child(3) .static-app-parent{margin-bottom: 0;}
[quesid="AddAnotherEmploymentIncome"]{width:auto; padding-left: 0px;}
}

@media only screen and (max-width:800px){

[qid="AddAnotherProperty"]{width: 40%;}
[qid="NetRentalMonthlyIncome"]{width: 50%}

[qid="TypeProperty"],
[qid="TitleHold"]{display:none}
[qid="PropertyDidYouOwn"],
[qid="HoldTitleToHome"]{width:50%;float:left;}
[qid="BorrowerTypeOfPropertyOwn"],
[qid="BorrowerHoldTitle"]{width:50%;float:left;}

[ssid="IncomeLogoSubSection"]{width:92%;margin:0 auto;}
[ssid="IncomeSubSection"],
[ssid="ProfileSubSection"],
[ssid="DeclarationSubSection"],
[ssid="DeclarationsSubSection"],
[ssid="SummarySubSection"]{width:83%;margin:0 auto;}
[subsectionuid="TransactionInformation"] .tab-pane:nth-child(1) static-application-question-sections:nth-child(3) .static-app-parent{margin-bottom: 0;}

}

@media only screen and (max-width:767px){

  [quesid="BorrowerIncomePropertyLabel"] {
    width: 100%;
  }
[quesid = "BorrowerEthnicityDoNotWish"],
[quesid = "BorrowerRaceDoNotWish"],
[quesid="BorrowerSexDoNotWish"]{width:100%; margin-right: 0px;} 

[quesid="Ethnicity"], [quesid="Race"], [quesid="Sex"]{
  width:100%;
  margin-left: 0px;
}


  [ssid="LoanOfficerSubSection"] {
    width: 100%;
    margin: 0 auto;
}
.label-option-input[quesid="BorrowerCombineMonthlyExpenseTotalValue"] .labelWrapper,
.label-option-input[quesid="BorrowerCombineMonthlyExpenseTotalCheckBoxTrueValue"] .labelWrapper {
        margin-bottom:8px !important;
       padding-top: 4px;
       
    }
.label-option[quesid="BorrowerCombineMonthlyExpenseTotal"]{padding-top:4px !important;}

.clearfix.questionFieldName{float:none;padding:0;width:100%;}
[ssid="ProfileSubSection"] .clearfix.questionFieldName{width:auto;}

[qid="BorrowerIncomeAlimonySupport"] .alimonyClm1,
[qid="BorrowerIncomeAlimonySupport"] .alimonyClm2{padding:0;width:100%;}

[qid="BorrowerIsCoBorrower"]{margin-top:0 !important;}

[qid="BorrowerSelectedProperty"] .form-group{margin-bottom:20px;}
[qid="BorrowerPropertyTypeUnits"] .form-group,
[qid="BorrowerMonthlyRentalAmount"] .form-group{margin-top:0;}

[qid="BorrowerCashOutType"]{margin-bottom:30px !important;}
[qid="RefinanceProperty"]
{margin-top:-20px !important;}

[qid="BorrowerEmployerWorkYear"] .form-group{margin-bottom:30px;}
[qid="BorrowerEmployerWorkMonths"] .form-group{margin-bottom:10px;}

[qid="BorrowerFirstName"],
[qid="BorrowerPreferredEmail"],
[qid="BorrowerLoanAmount"],
[qid="BorrowerLoanBorrowAmount"],
[qid="BorrowerEmployerAddress"],
[qid="BorrowerSocialSecurityIncome"],
[qid="BorrowerInterestLastYear"],
[qid="BorrowerOtherIncomePerMonth"],
[qid="BorrowerIncomeRentPropertyAddress"],
[qid="BorrowerOriginalPurchasePrice"],
.custom-question{margin-top:20px !important;}

[qid="SpouseSuffixMarried"] .form-group{margin: 0 0 30px 0;}

[ssid="ProfileSubSection"],
[ssid="IncomeSubSection"],
[ssid="IncomeLogoSubSection"],
[ssid="DeclarationSubSection"],
[ssid="DeclarationsSubSection"],
[ssid="SummarySubSection"]{width:100%;margin:0 auto;}

[ssid="DeclarationSubSection"] .question:nth-child(29),
[ssid="DeclarationSubSection"] .question:nth-child(31),
[ssid="DeclarationSubSection"] .question:nth-child(35){padding:15px}

[qid="BorrowerAlimonyChildName"] .form-group,
[qid="BorrowerAlimonyChildDOB"] .form-group,
[qid="ChildSupportName"] .form-group,
[qid="ChildSupportDOB"] .form-group{margin-bottom:30px;}

[qid="BorrowerAlimonyChildName"] .ui-control-error span,
[qid="BorrowerAlimonyChildDOB"] .ui-control-error span,
[qid="ChildSupportName"] .ui-control-error span,
[qid="ChildSupportDOB"] .ui-control-error span {bottom: 25px;}

[qid="SpousePreferredEmail"] .ui-control-error{height:auto;}
[qid="SpousePreferredEmail"] .ui-control-error span{position:relative}

/*[qid="BorrowerMaritalStatus"],*/
[qid="BorrowerRentOrOwn"]{margin-bottom:30px !important;}

[qid="BorrowerEthnicityDoNotWish"],
[qid="BorrowerRaceDoNotWish"],
[qid="BorrowerSexDoNotWish"]{margin-top:20px !important;padding-left:0;}

[qid="BorrowerLookingToSell"]{margin-top:10px !important;}

[qid="PropertyDidYouOwn"],
[qid="BorrowerTypeOfPropertyOwn"]{margin-bottom:20px;}

[qid="PropertyDidYouOwn"] .ui-label{margin: 25px 0 10px 0}
[qid="HoldTitleToHome"] .ui-label{margin: 0 0 25px 0}

[qid="IfApplicableId"] .ui-label{margin-bottom:10px;}

[qid="Calculator"]{width: 25% !important;float:left !important;}
[qid="NetRentalMonthlyIncome"]{width: 42% !important;float:left !important;}
[qid="AddAnotherProperty"]{width: 33% !important;float:left !important;text-align: right;}

[qid="Delete"],
[qid="Pipeline"]{width:auto !important;float:left !important;}

[qid="Acknowledgement"] .ui-label,
[qid="AcknowledgmentAndAgreement"] .ui-label{line-height:32px;}
[quesid="BorrowerPropertyType"]{margin-bottom: 0px; padding: 0px;}
[quesid="BorrowerCity"],[quesid="BorrowerState"],[quesid="BorrowerPropertyUse"],
[quesid="BorrowerPropertyTypeUnits"],[quesid="LoanMaturityPeriodCount"],[quesid="LoanAmortizationMaximumTermMonthsCount"]
,[quesid="ApplicationReceivedDate"],[quesid="BorrowerZipCode"],[quesid="BorrowerDwellingType"],
[quesid="ScheduledFirstPaymentDate"],[quesid="MortgageType"],[quesid="BorrowerEstimatedValue"],
[quesid="BorrowerOweFirst"],[quesid="BorrowerOweSecond"],[quesid="BorrowerOweOther"],
[quesid="BorrowerRefinanceCashOutIndicator"],[quesid="BorrowerCashOutAmount"],
[quesid="BorrowerCashOutType"] {padding: 0px;}
[subsectionuid="TransactionInformation"] .tab-pane:nth-child(2) static-application-question-sections:nth-child(3) [quesid="BorrowerLoanAmount"]{margin:0px;}
[quesid="BorrowerAddress"]{padding:0px;}

 [quesid="BorrowerEstimatedMonthlyRent"]{padding:0px; margin-top:4px;}
[quesid="AmortizationType"], [quesid="NoteRatePercent"]{margin-top: 0px; padding: 0px;}

}

@media only screen and (max-width:600px){
  [quesid="BorrowerTypeOfPropertyOwn"],[quesid="BorrowerHoldTitle"]{ width:100%;}
  [quesid="BorrowerSelectedProperty"] {
    width: 100%;
  }
}
@media only screen and (max-width:575px){

[qid="Calculator"]{width: 35% !important;float:left !important;}
[qid="NetRentalMonthlyIncome"]{width: 65% !important;float:left !important;}
[qid="AddAnotherProperty"]{width:auto !important;float:left !important;text-align: left;}

}




@media only screen and (max-width:900px){
    .text-boxs[quesid="PropertyDidYouOwn"] .labelWrapper, 
    .text-boxs[quesid="HoldTitleToHome"] .labelWrapper {
    margin-left: 1% !important;
    }
    [quesid="BorrowerHispanicOrLatinoNHL"] {
        margin-bottom: 0 !important;
    }
}
@media only screen and (max-width:767px) {
    [quesid="BorrowerHispanicOrLatinoNHL"] {
        margin-bottom: 0 !important;
    }
    [quesid="AddAnotherIncome"]{width:100% !important;}
   /* [quesid="BorrowerTypeOfPropertyOwn"] {
        margin-bottom: 20px !important;
        width:98% !important;
    }
    [quesid="BorrowerHoldTitle"]{ width:98% !important;}*/
    [qid="BorrowerMaritalStatusMarried"] .ui-popover {
      display: inline-block;
      vertical-align: bottom;
    }
    [subsectionuid="RentalSubSection"] static-application-question-sections:nth-child(1) .text-boxs[quesid="AddAnotherProperty"]{width:100% !important;}
    [subsectionuid="EmploymentSubSection"] static-application-question-sections .text-boxs[quesid="Delete"]{padding-right: 0 !important;}
}




 @media only screen and (max-width:767px){
  [quesid = "BorrowerMaritalStatus"],[quesid = "BorrowerFirstHomeBuyer"],
  [quesid = "BorrowerUSCitizen"],[quesid = "BorrowerPermanentResidentAlien"],
  [quesid = "BorrowerNonPermanentResidentAlien"], [quesid="BorrowerMonthlyRental"],
  .static-app-parent .label-option, .static-app-parent .label-option-input,
  [quesid = "BorrowerMonthlyRentalAmountCheckBoxFalse"],
  [quesid = "YesManufacturedHome"],[quesid = "YesMixedUseProperty"],[quesid = "BorrowerEmployed"],
  [quesid ="BorrowerEmployerCommissionIncome"], [quesid="AddAnotherEmploymentIncome"], [quesid="BorrowerIntentToOccupy"]
  , [quesid="BorrowerOwnshipInterest"]
  { padding: 0px;}
  [quesid = "AddCoBorrower"]{padding-right:0px;}
  [quesid="BorrowerBusinessType"]{margin-bottom:0px !important;}
   [quesid = "BorrowerCellPhone"], [quesid = "BorrowerSSN"], [quesid = "BorrowerMiddleName"],
   [quesid = "BorrowerCounty"],
  [quesid = "BorrowerZipCode"],[quesid = "BorrowerEmployerPhone"], [quesid = "BorrowerEmployerWorkMonths"],
 [quesid="BorrowerBusinessPhone"],[quesid="BorrowerBusinessWorkMonths"],
  [quesid="BorrowerMonthlyChildCareMoneyVA"],[quesid="BorrowerIncomeRentPropertyValue"],[quesid="BorrowerIncomeRentInsTaxDues"],
  [quesid="MortgageAccountIncome"],[quesid="MortgageBalanceIncome"],[quesid="MortgageCreditLimitIncome"]
  {padding-left: 0px;}
  [quesid="Delete"] { float: right; width: 100%;}
      [quesid = "AddAnotherProperty"]{ width:100% !important; }
      [quesid="AddAnotherBusinessIncome"]{width:64% !important;}
     
      [quesid="MortgageLoansLabelIncome"]{width:67% !important;}
      [quesid="Calculator"]{width:32% !important;}
      [quesid="BorrowerPropertyUse"]{width:100% !important}
      [quesid = "BorrowerPropertyTypeUnits"]{width:100% !important;}
      [quesid="BorrowerInContract"] .floating-group .custom-checkbox {margin-bottom: 0px !important; }
      [quesid="BorrowerInContract"] .static-app-parent .mar-bottom {margin-bottom: 0px !important; }
       [quesid="SubjectProperty"] .floating-group .ui-label{margin-bottom: 0px !important; color:@lendar-header-bg;}
      [quesid="BorrowerAlimonyChildDOB"], [quesid ="BorrowerAlimonyChildName"] {width:100% !important;}
      [subsectionuid="RentalSubSection"] static-application-question-sections:nth-child(1) .text-boxs[quesid="AddAnotherProperty"]{width:100% !important;}
      [subsectionuid="EmploymentSubSection"] static-application-question-sections .text-boxs[quesid="Delete"]{padding-right: 0 !important;}
      [subsectionuid="OtherSubSection"] static-application-question-sections:nth-child(1) .text-boxs[quesid="AddAnotherIncome"] { width: 100% !important;}
      [subsectionuid="AssetsREOInfo"] static-application-question-sections:nth-child(1) .text-boxs[quesid="AddAnotherPropertyDefault"] { width: 100% !important;}
      [quesid = "BorrowerMaritalStatus"],[quesid="BorrowerFirstHomeBuyer"],[quesid="BorrowerUSCitizen"],
      [quesid="BorrowerPermanentResidentAlien"], [quesid="BorrowerNonPermanentResidentAlien"]{ padding: 0px;}

      [quesid="RealEstateLastName"],[quesid="RealEstateMobile"],[quesid="RealEstateOfficePhone"]
      {width:50%; float: right; padding-left: 0px;}

      [quesid="RealEstateFirstName"],[quesid="RealEstatePhoneNumber"],
      [quesid="RealEstateFax"]{width:50%; display:inline-block;}

     [quesid="BorrowerCommunication"] .static-app-parent .toggle-button{padding: 10px 17px;}

     [quesid="MortgageCreditorName"], [quesid="MortgageAccount"], 
     [quesid= "BorrowerREORentalIncome"],[quesid="BorrowerREOInsTaxDues"]{width:100%;}
     [quesid="AddAnotherPropertyDefault"] {  width: 100%;}
    
 }

 @media only screen and (max-width:400px){

  [qid="RealEstateEmail"] .ui-control-error{height: 35px;}
  [qid="BorrowerMaritalStatus"] .ui-popover{left: 246px;}
  [quesid="AddAnotherBusinessIncome"]{width:90% !important;}
  }

[quesid="BorrowerCashOutType"] {margin-bottom: 45px !important;}