<!DOCTYPE html>
<html lang="en"> 
    <head>
        <title>Collaborate to Docitt loan process</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="" />
        <p><b>Dear&nbsp;{{ InviteFirstName }}&nbsp;{{ InviteLastName }}</b></p>
		<p> You have been invited by {{ InvitedByFirstName }}&nbsp;{{ InvitedByLastName }} as a {{Role}} on the {{tenantConfiguration.templateVariables.websiteDomain}}. Please complete the sign-up for your account by clicking the inline link. </p>		
        <p> Click “Get Started” to accept this invitation.</p>
		<p><a href="{{ invitationUrl}}">Get Started</a></p>  
		<p> You can setup your account using the link and leverage a robust, transparent digital mortgage experience backed by an efficient support staff to help you</p>		
		<p>Contact your administrator if you face any issue with your sign-up process.</p>
        <p>Sincerely,</p>
        {{#if-is-not-null-or-non-empty IsLoanOfficer }}
            {{#if-is-not-null-or-non-empty LoanOfficerName }}
            <p>{{LoanOfficerName}}</p>
            <ul>
                <li>NMLS # : {{LoanOfficerNMLS}}</li>
                <li>Phone # : {{LoanOfficerPhoneNumber}}</li>
            </ul>
            {{/if-is-not-null-or-non-empty}}
        {{/if-is-not-null-or-non-empty}}
        {{#if-is-not-null-or-non-empty IsAffinityUser }}
            {{#if-is-not-null-or-non-empty LoanOfficerName }}
            <p>{{LoanOfficerName}}</p>
            <ul>
                <li>Email : {{UserProfileEmail}}</li>
                <li>Phone # : {{LoanOfficerPhoneNumber}}</li>
            </ul>
            {{/if-is-not-null-or-non-empty}}
        {{/if-is-not-null-or-non-empty}}
        <p>{{tenantConfiguration.templateVariables.supportTeam}}</p>
        <ul>
            <li>{{tenantConfiguration.templateVariables.customerServiceNumber}}</li>
            <li><a href="mailto:{{tenantConfiguration.templateVariables.customerServiceEmail}}">{{tenantConfiguration.templateVariables.customerServiceEmailText}}</a></li>
            <li><a href="http://{{tenantConfiguration.templateVariables.websiteUrl}}">{{tenantConfiguration.templateVariables.websiteText}}</a></li>
        </ul>
    </body>
</html>