<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Collaborate to Docitt loan process</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="" />
        <p>Dear&nbsp;{{ firstName }},</p>
        </br>
        <p> You have been invited to create {{ portal }} account. Please complete the sign-up for your account by clicking the inline link. 
        <p>Click "Get Started" to accept this invitation.</p>
        <p><a style="background: #006699;border:1px solid #333;border-radius:5px;color: #fff;display:inline-block;font-size:16px;font-weight:700;padding:5px 20px;text-decoration:none;text-transform:uppercase;" href="{{ invitationUrl}}">Get Started</a></p>
        <p>You can setup your account using the link and leverage a robust, transparent digital mortgage experience backed by an efficent support staff to help you explore your mortage credit needs.</p>
        <p>Contact your administrator if you face any issue with your sign-up process.</p>
        <p>Regards,</p>
        <p>{{tenantConfiguration.templateVariables.tenantTitleText}}</p>
        <p>{{ invitedBy }}</p>
    </body>
</html>