<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your loan application {{ApplicationNumber}} has been sucessfully submitted</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="" />
        <p>Hi&nbsp;<b>{{ InviteFirstName }}&nbsp;{{ InviteLastName }}</b>,</p>
        <p>Congratulations! You application has successfully been created by your Mortgage Loan Officer.</p>
        <p>Thank you for having given us the opportunity to help and serve you on your mortgage requirements. We will keep you apprised on the progress of you file and you are welcome to Sign-up at any time to check your status of application and attend to any conditions that need further actions at your end.</p>
        <p><a style="background: #006699;border:1px solid #333;border-radius:5px;color: #fff;display:inline-block;font-size:16px;font-weight:700;padding:5px 20px;text-decoration:none;text-transform:uppercase;" href="{{ borrowerLoginURL }}">SIGN UP</a></p> 
        <p>If you have any questions, I'm here to help.</p>
        <p>Sincerely,</p>
        {{#if-is-not-null-or-non-empty loanOfficerName }}
        <p>{{loanOfficerName}}</p>
        <ul>
            <li>NMLS # : {{loanOfficerNMLS}}</li>
            <li>Phone # : {{loanOfficerPhoneNumber}}</li>
        </ul>
        {{/if-is-not-null-or-non-empty}}
        <p>{{tenantConfiguration.templateVariables.supportTeam}}</p>
        <ul>
            <li>{{tenantConfiguration.templateVariables.customerServiceNumber}}</li>
            <li><a href="mailto:{{tenantConfiguration.templateVariables.customerServiceEmail}}">{{tenantConfiguration.templateVariables.customerServiceEmailText}}</a></li>
            <li><a href="http://{{tenantConfiguration.templateVariables.websiteUrl}}">{{tenantConfiguration.templateVariables.websiteText}}</a></li>
        </ul>
    </body>
</html>